#yui-main
  .yui-b
    -box do 
      %h3=:new_static_page.l
      = error_messages_for :static_page
      - form_for @static_page, :html => {:class => "MainForm"} do |f|
        %label 
          = "URL:"
        = f.text_field :url, :size => 35
        %label
          = :title.l + ":"
        = f.text_field :title, :size => 35
        %label
          =:content.l + ":"
        = f.text_area :content, :size => "58x5", :class => "rich_text_editor"
    
        %fieldset
          %legend
            =:status.l
          %label 
            = f.check_box :active       
            =:active.l 
    
        %fieldset
          %legend
            =:visibility.l
          %label
            = f.radio_button :visibility, "Everyone"
            =:everyone.l
          %label
            = f.radio_button :visibility, "Users"
            =:users.l
          %label
            = f.radio_button :visibility, "Admin"
            =:admin.l
    
        %p
          = f.submit form_button
          = :or.l
          = link_to :cancel.l, static_pages_path
    
  