.yui-b.sidebar
  -box do 
    %h3=:actions.l
    %ul
      %li=link_to :edit.l, edit_static_page_path(@static_page)
      %li=link_to :back.l, static_pages_path

#yui-main
  .yui-b
    -box do 
      %h3= h @static_page.title
      %p
        = "URL: "
        = link_to @static_page.url, {:action => 'show_web', :url => @static_page.url}

      %p
        = :static_page_content.l + ":"
        = @static_page.content

      %p
        = :status.l + ":"
        = h @static_page.active

      %p 
        = :visibility.l + ":"
        = h @static_page.visibility
