-@page_title = :ads.l
= render :partial => 'shared/admin_nav'

%h2=:search.l
= bootstrap_form_for @search, :url => ads_path, :layout => :horizontal do |f|
  = f.text_field :name_start, :label => :name.l
  = f.text_field :location_cont, :label => :location.l
  = f.primary :search.l

%table.table.table-bordered.table-striped
  %tr
    %th=sort_link @search, :name, :name.l
    %th=sort_link @search, :published, :published.l
    %th=sort_link @search, :location, :location.l
    %th=:actions.l

  - for ad in @ads
    %tr
      %td= link_to h(ad.name), ad_path(ad)
      %td= h ad.published?
      %td= h ad.location
      %td
        = link_to :show.l, ad_path(ad), :class => 'btn btn-default'
        = link_to :edit.l, edit_ad_path(ad), :class => 'btn btn-warning'
        = link_to :delete.l, ad_path(ad), data: { confirm: :are_you_sure.l }, :method => :delete, :class => 'btn btn-danger'

= paginate @ads, :theme => 'bootstrap'
= link_to :new_ad.l, new_ad_path, :class => 'btn btn-success'
