-@page_title = :ads.l
= render :partial => 'shared/admin_nav'

%h2=:search.l
= bootstrap_form_for @search, :url => ads_path, :html => {:class => "form form-horizontal"} do |f|
  = f.text_field :name_starts_with
  = f.text_field :location_contains
  .controls
    = f.submit :search.l
  
%table.table.table-bordered.table-striped
  %tr
    %th=sort_link @search, :name, :name.l                    
    %th=sort_link @search, :published, :published.l
    %th=sort_link @search, :location, :location.l                              
    %th=:actions.l

  - for ad in @ads
    %tr
      %td= link_to h(ad.name), ad_path(ad)
      %td= h ad.published?
      %td= h ad.location
      %td
        = link_to :show.l, ad_path(ad), :class => 'btn'
        = link_to :edit.l, edit_ad_path(ad), :class => 'btn btn-warning'
        = link_to :delete.l, ad_path(ad), :confirm => :are_you_sure.l, :method => :delete, :class => 'btn btn-danger'
      
= paginate @ads
= link_to :new_ad.l, new_ad_path, :class => 'btn btn-success'
