.box
  %h3 New ad
  = error_messages_for :ad
  - form_for(:ad, :url => ads_path, :html => {:class => "MainForm" }) do |f|
    %label Name
    = f.text_field :name

    %label Html
    = f.text_area :html, :size => '80x10'

    %label Frequency
    = f.select :frequency, Ad.frequencies_for_select

    %label Audience
    = f.select :audience, Ad.audiences_for_select

    %fieldset{"for"=>"ad_published"}
      = f.check_box :published
      %label Published?      

    %fieldset{"for"=>"ad_time_constrained"}
      = f.check_box :time_constrained
      %label Time constrained?      

    #time_constraints{"style"=>"display:#{ @ad.time_constrained? ? 'block' : 'none'}"}
      %label Start date
      = f.datetime_select :start_date
      %label End date
      = f.datetime_select :end_date

    %script{"type"=>"text/javascript", "charset"=>"utf-8"}
      Event.observe("ad_time_constrained", "click", function(){$('time_constraints').toggle()})

    %label Location
    = f.text_field :location

    %p
      = submit_tag "Create"

  = link_to 'Back', ads_path