-@page_title=@ad.name
%p
  = link_to :back.l, ads_path, :class => 'btn'
  = link_to :edit.l, edit_ad_path(@ad), :class => 'btn btn-warning'
  = link_to :destroy.l, ad_path(@ad), :confirm => :are_you_sure.l, :method => :delete, :class => 'btn btn-danger'

%dl.dl-horizontal
  %dt=:name.l
  %dd= h @ad.name
  %dt=:html.l
  %dd= raw @ad.html
  %dt=:frequency.l
  %dd= h @ad.frequency
  %dt=:published.l
  %dd= @ad.published?
  %dt=:run.l
  %dd= h @ad.time_constrained? ? "#{@ad.start_date.to_formatted_s(:long)} - #{@ad.end_date.to_formatted_s(:long)}" : 'n/a'
  %dt=:location.l
  %dd= h @ad.location
