-box do
  %h3=:showing_ad.l
  %p
    %b
      =:name.l
      \:
    = h @ad.name
  %p
    %b
      =:html.l
      \:
    = raw @ad.html
  %p
    %b
      =:frequency.l
      \:
    = h @ad.frequency
  %p
    %strong
      =:published.l
      \?
    = @ad.published?
  %p
    %b 
      =:run.l
      \:
    = h @ad.time_constrained? ? "#{@ad.start_date.to_formatted_s(:long)} - #{@ad.end_date.to_formatted_s(:long)}" : 'n/a'
  %p
    %b 
      =:location.l
      \:
    = h @ad.location

  = link_to :edit.l, edit_ad_path(@ad)
  |
  = link_to :back.l, ads_path
