= bootstrap_form_for [user, message], :html => {:class => "form form-horizontal"} do |f|

  -if message.reply_to
    =f.hidden_field :to
    =f.hidden_field :parent_id
  -else
    = f.text_field :to, :required => true, :autocomplete => "off", :id => "message_to", :label => :to.l, :help_inline => :type_a_username.l
    .auto_complete#message_to_auto_complete
    
    -content_for :end_javascript do
      = auto_complete_field 'message_to', {:url => {:controller => 'messages', :action => 'auto_complete_for_username', :user => user}, :method=>'post'}

  -if @reply  
    = f.hidden_field :subject  
  -else
    = f.text_field :subject

  = f.text_area :body, :label => :message.l, :rows => 10

  .controls
    = f.submit :send.l
