

#yui-main
  .yui-b
    -box do 
      %h3= :inbox.l

      %table.messages{:border => 0, :width => '100%'}
        %tbody
          - if @messages.empty?
            %tr
              %td{ :colspan => "5" }
                = :no_messages.l
          -else
            - @messages.each do |message_thread|
              - message = message_thread.message
              - children = message_thread.parent_message.children              
              %tr{:class => message_thread.read? ? :read.l : :unread.l}
                %td{:width => '10px'}
                  %fieldset.inline
                    = check_box_tag "delete[]", message_thread.id
                %td
                  =link_to h(message_thread.subject), user_message_path(@user, message)
                  =children.any? ? "(#{children.size} messages)" : ''
                  %br
                  %em
                    =message.sender.login
                    \: 
                    =truncate(message.body)
                
                %td.meta{:width => '150px'}
                  =time_ago_in_words_or_date(message_thread.updated_at)                
                  
        %tfoot
          %tr
            %td{ :colspan => "5" }
              -if @messages.any?
                %p= submit_tag :delete_selected.l              
      
      .pagination=paginating_links @messages if @messages.total_count > 1                

