

#yui-main
  .yui-b
    -box do 
      %h3= :inbox.l

      %table.messages{:border => 0, :width => '100%'}
        %tbody
          - if @messages.empty?
            %tr
              %td{ :colspan => "5" }
                = :no_messages.l
          -else
            - @messages.each do |message|
              %tr
                %td{:width => '10px'}
                  %fieldset.inline= check_box_tag "delete[]", message.id
                %td{:width => '60px'}
                  .photo= link_to image_tag( message.sender.avatar_photo_url(:thumb), "height"=>"50px", "alt"=>"#{message.sender.login}", "width"=>"50px" ), user_path(message.sender), :title => "#{message.sender.login}'s " + :profile.l

                %td
                  = link_to h(message.subject), user_message_path(@user, message)                  
                  %br
                  from:
                  = link_to h(message.sender.login), user_path(message.sender)                  
                %td{:width => '20px'}
                  %em
                    = message.read? ? 'read' : 'unread'
                %td.meta{:width => '150px'}= h message.created_at.to_s(:long)
        %tfoot
          %tr
            %td{ :colspan => "5" }
              -if @messages.any?
                %p= submit_tag :delete_selected.l              
      
      .pagination=paginating_links @messages if @messages.page_count > 1                

