#yui-main
  .yui-b
    .box

      %h3 Sent Messages
      %table{:border => 0, :width => '100%'}
        %thead
          %tr
            %th
            %th Subject
            %th To
            %th Sent
        - if @messages.empty?
          %tr
            %td{ :colspan => "4" }
              No messages
        - else
          - @messages.each do |message|
            %tr
              %td
                = check_box_tag "delete[]", message.id
              %td
                = link_to h(message.subject), user_message_path(@user, message)
              %td
                = link_to h(message.recipient.login), user_path(@user)
              %td
                = h message.created_at.to_s(:long)
          %tr
            %td{ :colspan => "4" }
              %p= submit_tag "Delete"
