=render :partial => 'messages/sidebar_nav'

#yui-main
  .yui-b
    .box
      %h3
        Subject:
        =h @message.subject

      %p
        From:
        = @message.sender.eql?(@user) ? link_to("You", user_path(@user)) : link_to(h(@message.sender.login), user_path(@user))

      %p
        To:
        = @message.recipient.eql?(@user) ? link_to("You", user_path(@user)) : link_to(h(@message.recipient.login), user_path(@user))

      
      %p
        Date:
        = @message.created_at.to_s(:long)

      %p= h @message.body

      %ul.message_nav
        - if @message.recipient.eql? @user
          %li.sent= link_to "Reply", new_user_message_path(@user, :reply_to => @message)