=render :partial => 'messages/sidebar_nav'

#yui-main
  .yui-b
    -box do 
      %h3
        = :subject.l + ":"
        =h @message.subject

      %p
        = :from.l + ":"
        = @message.sender.eql?(@user) ? link_to("You", user_path(@user)) : link_to(h(@message.sender.login), user_path(@message.sender))

      %p
        = :to.l + ":"
        = @message.recipient.eql?(@user) ? link_to(:to_you.l, user_path(@user)) : link_to(h(@message.recipient.login), user_path(@message.recipient))

      
      %p
        = :date_title.l + ":"
        = @message.created_at.to_s(:long)

      %pre.message_body= auto_link(h(@message.body))
      
      -if @reply    
        %ul.message_nav
          - if @message.recipient.eql? @user
            %li.sent= link_to :reply.l, new_user_message_path(@user, :reply_to => @message), :onclick => "$('reply').toggle(); $('message_body').activate().scrollTo();return false;"
      
        %form.MainForm#dummy_reply
          %textarea{:onclick => "$('reply').toggle(); $('message_body').activate(); $('dummy_reply').hide(); $(this).blur(); return false;", :style => "height: 75px;"}
      
        #reply{:style => "display:none;"}=render :partial => 'form', :locals => {:message => @reply, :user => @user}          