-@page_title = :metro_areas.l
= render :partial => 'shared/admin_nav'

-box do 
  %table.table.table-bordered.table-striped
    %tr
      %th= :name.l
      %th= :state.l
      %th= :country.l
      %th= :actions.l

    - for metro_area in @metro_areas
      %tr
        %td= metro_area.name 
        %td= metro_area.state.name if metro_area.state 
        %td= metro_area.country.name 
        %td
          = link_to :edit.l, edit_metro_area_path(metro_area) 
          |
          = link_to :destroy.l, metro_area_path(metro_area), :confirm => :are_you_sure.l, :method => :delete
  = paginate @metro_areas
  = link_to :new_metro_area.l, new_metro_area_path
