.yui-b
  = render :partial => 'shared/admin_nav'

#yui-main
  .yui-b
    -box do 
      %h3= :metro_areas.l

      = paginate @metro_areas

      %table{:width=>"100%"}
        %tr
          %th= :name.l
          %th= :state.l
          %th= :country.l
          %th= :actions.l

        - for metro_area in @metro_areas
          %tr
            %td= metro_area.name 
            %td= metro_area.state.name if metro_area.state 
            %td= metro_area.country.name 
            %td
              = link_to :edit.l, edit_metro_area_path(metro_area) 
              |
              = link_to :destroy.l, metro_area_path(metro_area), :confirm => :are_you_sure.l, :method => :delete
      
      = link_to :new_metro_area.l, new_metro_area_path
