-@page_title=:showing_metro_area_details.l
%p
  = link_to :back.l, metro_areas_path, :class => 'btn' 
  = link_to :edit.l, edit_metro_area_path(@metro_area), :class => 'btn btn-warning' 
  = link_to :delete.l, metro_area_path(@metro_area), :confirm => :are_you_sure.l, :method => :delete, :class => 'btn btn-danger'

%dl.dl-horizontal
  %dt=:country.l
  %dd= h @metro_area.country.name
  - if @metro_area.state
    %dt=:state.l
    %dd= @metro_area.state.name
  %dt=:name.l
  %dd= @metro_area.name
