.box

  %h3="Showing Metro Area Details".l
  
  %p
    %b
      ="Country:".l
    = h @metro_area.country.name
  %p
    %b
      ="State:".l
    = @metro_area.state.name if @metro_area.state
  %p
    %b
      ="Name:".l
    = @metro_area.name
  = link_to 'Edit._, edit_metro_area_path(@metro_area)
  |
  = link_to 'Back._, metro_areas_path
