-unless AppConfig.closed_beta_mode
  .yui-b.sidebar=render :partial => 'shared/login_sidebar'
  
#yui-main
  .yui-b.main_column
    .box
      %h3
        Log in to
        = AppConfig.community_name
      - form_tag sessions_path, :class => 'MainForm' do
        %label{"for"=>"username"} Username:
        = text_field_tag 'login', nil, :size => 35
        %label{"for"=>"password"} Password:
        = password_field_tag 'password', nil, :size => 35
        %fieldset
          %label{"for"=>"remember_me"} 
            Remember me
            = check_box_tag 'remember_me'
        %p
          = submit_tag 'Log in'
