-@page_title=:log_in_to_site.l(:site => configatron.community_name)
=render :partial => 'shared/login_sidebar'
-if configatron.auth_providers.to_hash.keys.any?      
  -widget do
    %ul.list-unstyled
      %h4
        .small= t 'sessions.new.omniauth.header'
      -configatron.auth_providers.to_hash.keys.each do |provider|
        -alt = t('sessions.new.omniauth.button_alt', :provider => provider)
        %li= link_to(image_tag("auth/#{provider.to_s}_64.png", :alt => alt), "/auth/#{provider.to_s}", :title => alt)

%h3
= form_tag sessions_path, :class => 'form form-horizontal' do
  .form-group
    %label.control-label{"for"=>"email"}=:email.l
    = text_field_tag 'email', nil
  .form-group
    %label.control-label{"for"=>"password"}=:password.l
    =password_field_tag 'password', nil
  %fieldset
    %label{"for"=>"remember_me"}
      = check_box_tag 'remember_me'
      =:remember_me.l
  = submit_tag :log_in.l, :class => 'btn btn-primary'
