= bootstrap_form_for @forum, :html => {:class => "form form-horizontal"} do |f|
  = f.text_field :name
  = f.number_field :position
  
  = f.text_field :tag_list, :autocomplete => "off", :help_inline => :optional_keywords_describing_this_forum_separated_by_commas.l
  #tag_list_auto_complete.auto_complete
  -content_for :end_javascript do
    = auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','] }
  
  = f.text_area :description, :rows => 7, :class => "rich_text_editor"
  .controls= f.submit :save.l
