
#forum_name
  %table.noborder.nopad.wide{"cellspacing"=>"0","border"=>"0", "cellpadding"=>"0"}
    %td
      %label= :title.l
      = form.text_field :name, :class => "primary"

    %td
      %label= :position.l
      = form.text_field :position, :size => 5

      %label
        =:tags.l
        %em="(#{:optional_keywords_describing_this_forum_separated_by_commas.l})"
      = text_field_tag 'tag_list', @forum.tag_list.to_s, {:autocomplete => "off", :size => 35}
      #tag_list_auto_complete.auto_complete
      
      -content_for :end_javascript do
        = auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','] }

#forum_descripion
  %label= :description.l
  = form.text_area :description, :rows => 7, :class => "rich_text_editor"
