-box do
  %h3= :edit_forum.l
  
  %p= link_to :delete_this_forum.l, forum_path(@forum), :method => :delete, :class => "utility", :confirm => :are_you_sure.l
  = form_for :forum, :url  => forum_path(@forum), :html => { :class => "MainForm", :method => :put } do |f|
    = render :partial => "form", :object => f
    %p
      = submit_tag :save_forum.l
      = :or.l
      = link_to(:cancel.l, forums_path)

