.thumbnail{ :id => "clipping_#{clipping.id}"}
    
  - if favorite = clipping.has_been_favorited_by(current_user, request.remote_ip)
    .favorite
      = link_to_remote '<span class="badge badge-info"><i class="icon-heart"></i>'.html_safe+clipping.favorited_count.to_s+'</span>'.html_safe, :url => favorite_path('clipping', clipping.id, favorite.id), :method => :delete, :loading => "new Effect.Fade($$('#clipping_#{clipping.id} .favorite i').first())", :title => :un_favorite_this.l if logged_in?
      %span.label.label-info= :in_your_favorites.l
  - else
    .favorite  
      = link_to_remote '<span class="badge"><i class="icon-heart"></i>'.html_safe+clipping.favorited_count.to_s+'</span>'.html_safe, :url => favorites_path('clipping', clipping.id), :loading => "new Effect.Pulsate($$('#clipping_#{clipping.id} .favorite i').first() )", :title => :un_favorite_this.l
  %a{:href=>"#{user_clipping_url(clipping.user, clipping)}", :title => h(truncate_words(clipping.description)) }     
    = h(truncate_words(clipping.description))
    %br
    = link_to image_tag( clipping.image_uri(:medium)), user_clipping_url(clipping.user, clipping)