%html
  %head
    =csrf_meta_tag  
    %title
      = configatron.community_name
      \- 
      =:new_clipping.l
    = render :partial => 'shared/scripts_and_styles'
    = javascript_include_tag 'lightbox'
    = stylesheet_link_tag 'lightbox'
    %style{"type"=>"text/css"}
      :plain
        body {
        font: 1em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
        background: none;
        }
        ul#clipping_image_list {
        list-style:none;
        padding:none;
        width: 400px;
        height: 400px;
        overflow: auto;
        }
        ul#clipping_image_list li {
        display:inline;
        margin:1em;
        }
        ul#clipping_image_list li img {
        cursor:pointer;
        cursor: hand;
        padding:3px;
        border:1px solid #ccc;
        width: 200px;
        }
      
        div#form_div {
        width:550px;
        padding:10px;
        }
  %body
    #doc3
      #bd
        -box do
          %h3 
            =:create_a_clipping.l
          %p
            %small=:click_on_an_image_below_to_clip_it.l
          %ul#clipping_image_list
            = image_tag 'spinner.gif', :plugin => "community_engine"
            =:loading_images.l
            = javascript_include_tag 'community_engine'
            %script{"type"=>"text/javascript"}
              = remote_function(:url => { :controller => 'clippings', :action => "load_images_from_uri", :uri => params[:uri] }, :method => :post )
          %small
            %a{"href"=>"#{ params[:uri] }"}
              =:cancel_and_go_back_to.l
              = @clipping.url
          #form_div{"style"=>"display:none;"}
            = form_for(:clipping, :url => user_clippings_path(@user), :html => {:class => "MainForm"} ) do |f|
              %label=:url.l
              = f.text_field :url

              %img#clipping_preview{"src"=>nil, "width"=>"175px", "style"=>"float:right"}
              
              %label=:image_url.l
              = f.text_field :image_url

              %label
                =:tags.l
                %em="(#{:optional_keywords_describing_this_clipping_separated_by_commas.l})"
              = text_field_tag 'tag_list', @clipping.tag_list, {:autocomplete => "off",:id => 'clipping_tag_list'}

              #clipping_tag_list_auto_complete.auto_complete
              = auto_complete_field 'clipping_tag_list', {:url => {:controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','], :update => 'clipping_tag_list_auto_complete' }

              %label=:description.l
              = f.text_field :description

              %p= submit_tag :create.l

        :javascript
          image_list = $('clipping_image_list')
          Event.observe(image_list, 'click', function(e){
            element = Event.element(e);
            if (element.parentNode.tagName.toLowerCase() == 'li' ){
              $('clipping_image_url').value = element.src;
              $('clipping_preview').src = element.src;
              new Lightbox.base('form_div');
            }
            return;
          });

