.hentry{:id => "comment_#{comment.id}"}
  .vcard.author
    %h5= link_to image_tag(comment.user.avatar_photo_url(:thumb), :height => '50', :width => '50', :alt => "#{comment.user.login}"), user_path(comment.user), :rel => 'bookmark', :class => 'photo', :title => "#{comment.user.login}'s profile"
    %ul
      %li.fn
        = link_to comment.user.login, user_path(comment.user), :class => 'url'
      %li.update
        %a{"href"=>"#{comment.generate_commentable_url}", "rel"=>"bookmark"}
          %abbr.published{"title"=>"#{comment.created_at}"}
            = comment.created_at.strftime("%B %d, %Y")
      %li.addfriend
        %a{"href"=>"#"}
          Add as friend
      -if ( comment.can_be_deleted_by(current_user) )
        %li.delete=link_to_remote("Delete", {:url => comment_path(comment.commentable_type, comment.commentable_id, comment), :method => :delete, 500 => 'alert(\'Sorry, there was a server error\'); return false',  :success => visual_effect(:fade, "comment_#{comment.id}"), :confirm => "Are you sure you want to permanently delete this comment"} )
        
  / vcard
  .entry-content= comment.comment
  / entry-content
/ ends hentry

- highlighted ||= nil
- if highlighted
  %script{"type"=>"text/javascript"}
    =visual_effect :highlight, "comment_#{comment.id}", :duration => 1 
