%div{:id => "comment-#{comment.id}"}
  -if comment.pending?
    %em This comment is awaiting approval
  -if comment.user
    .clearfix
      .col-sm-2.pull-right
        .list-group
          = link_to image_tag(comment.user.avatar_photo_url(:medium), :alt => comment.user.login, :class => "img-responsive"), user_path(comment.user), :rel => 'bookmark', :class => 'photo', :title => :users_profile.l(:user => comment.user.login), :class => 'list-group-item'
          %a{:href => user_path(comment.user), :class => "list-group-item"}
            =fa_icon "hand-o-right", :text => comment.user.login
          %a{:href => commentable_url(comment), :rel => "bookmark", :class => "list-group-item"}
            =fa_icon "calendar"
            %abbr.published{:title => "#{comment.created_at}"}
              = I18n.l(comment.created_at, :format => :short_literal_date)
          -if logged_in? && (current_user.admin? || current_user.moderator?)
            =link_to fa_icon("pencil-square-o", :text => :edit.l), edit_commentable_comment_path(comment.commentable_type, comment.commentable_id, comment), :class => 'edit-via-ajax list-group-item'
          -if ( comment.can_be_deleted_by(current_user) )
            .delete
              =link_to fa_icon("trash-o", :text => :delete.l), commentable_comment_path(comment.commentable_type, comment.commentable_id, comment), :method => :delete, 'data-manual-confirm' => :are_you_sure_you_want_to_permanently_delete_this_comment.l, :remote => true, :class => "list-group-item"

      = comment.comment.html_safe

  -else
    .clearfix
      .col-sm-3.pull-right
        .list-group
          %a{:href => '#', :rel => 'bookmark', :class => 'photo list-group-item', :onclick => 'return false;'}
            = image_tag(configatron.photo.missing_thumb, :height => '50', :width => '50', :class => "img-responsive")
          .list-group-item
            -if comment.author_url.blank?
              = h comment.username
            -else
              =icon_link_to 'hand-o-right', h(comment.username), h(comment.author_url)
          %a{:href=> commentable_url(comment), :rel => "bookmark", :class => "list-group-item"}
            =fa_icon "calendar"
            %abbr.published{:title => "#{comment.created_at}"}
              = I18n.l(comment.created_at, :format => :short_literal_date)
          -if logged_in? && (current_user.admin? || current_user.moderator?)
            =link_to fa_icon("pencil-square-o", :text => :edit.l), edit_commentable_comment_path(comment.commentable_type, comment.commentable_id, comment), :class => 'edit-via-ajax list-group-item'
          -if ( comment.can_be_deleted_by(current_user) )
            =link_to fa_icon("trash-o", :text => :delete.l), commentable_comment_path(comment.commentable_type, comment.commentable_id, comment), :method => :delete, 'data-manual-confirm' => :are_you_sure_you_want_to_permanently_delete_this_comment.l, :remote => true, :class => "list-group-item"

      = comment.comment.html_safe

  %hr
