- if logged_in? || configatron.allow_anonymous_commenting
  :javascript
    function scrollToNewestComment(){
      loc = document.location.toString();
      if (loc.indexOf("#") != -1){
        parts = loc.split('#')
        loc = parts[0] + "#newest_comment"
      } else {
        loc = loc + "#newest_comment";
      }
      document.location.href = loc;
    }
      
  = bootstrap_form_for(:comment, :loading => "$$('div#comments div.errors')[0].innerHTML = ''; $('comment_spinner').show();", :before => "tinyMCE.activeEditor.save();", :url => commentable_comments_path(commentable.class.to_s.tableize, commentable), :html => {:class => "form form-horizontal"}) do |f|
    = f.text_area :comment, :rows => 5, :class => "rich_text_editor", :help_inline => :comment_character_limit.l
    
    - if !logged_in? && configatron.recaptcha_pub_key && configatron.recaptcha_priv_key 
      .pull-right{:style => 'margin-top:2em;'}= recaptcha_tags :ajax => true
      = f.text_field :author_name
      = f.text_field :author_email, :required => true     
      -if commentable.respond_to?(:send_comment_notifications?) && !commentable.send_comment_notifications?
        =f.check_box :notify_by_email, :label => :notify_me_of_follow_ups_via_email.l, :help_inline => :comment_notifications_off.l
      -else
        =f.check_box :notify_by_email, :label => :notify_me_of_follow_ups_via_email.l
     
      = f.text_field :author_url, :label => :comment_web_site_label.l

    .controls
      = f.submit :add_comment.l
      = image_tag 'spinner.gif', :plugin => "community_engine", :style => 'display:none;', :id => 'comment_spinner'
- else
  .btn-group
    = link_to :log_in_to_leave_a_comment.l, new_commentable_comment_path(commentable.class, commentable.id), :class => 'btn btn-primary'
    = link_to :create_an_account.l, signup_path, :class => 'btn btn-primary'
