.yui-b
  = render :partial => 'posts/author_profile', :locals => {:user => @user} if @user

#yui-main
  .yui-b#comments.box.hfeed.comments
    %h3
      = @commentable.class.to_s.underscore.capitalize
      ="Comments".l + " -"
      = link_to @title, @back_url

    %a#newest_comment
      = render :partial => 'comments/comment', :collection => @comments

    .pagination=paginating_links @comments if @comments.page_count > 1

    %h3="Add Your Comment!".l
    %p= render :partial => 'comments/comment_form', :locals => {:commentable => @commentable}  
      