-unless logged_in?
  =render :partial => 'base/homepage_banner_message'

#yui-main
  .yui-b
    .box.hfeed
      %h3
        ="Recent Posts".l
      = render :partial => 'posts/post', :collection => @posts

.yui-b  
  .box
    %h3= :explore_site.l :site => AppConfig.community_name
    %ul.list.checks
      - Category.find(:all).each do |c|
        %li= link_to c.name, category_path(c)
      %li= link_to "What's Popular".l, popular_url, {:class => 'popular'}
      %li= link_to "Find an Expert".l, skills_path, {:class => 'users'}

  .box.alt
    %h3
      = "What's Hot".l
      
    %ul.list.page
      -@popular_posts.each do |post|
        =render :partial => 'posts/sidebar_post', :locals => {:post => post}
    %h6.all
      %a{:href=>"/popular"}= "SEE ALL".l

  .box.alt
    %h3= "Featured Writers".l
    -@featured_writers.each do |user|
      =render :partial => "users/sidebar_user", :locals => {:user => user}

  .box.alt
    %h3= "Active Users".l
    -@active_users.each do |user|    
      =render :partial => "users/sidebar_user", :locals => {:user => user}      