-@meta = { :description => AppConfig.meta_description, :keywords => AppConfig.meta_keywords }

-if !logged_in?
  =render :partial => 'base/homepage_banner_message'
  %br/

-if @active_contest
  =render :partial => 'contests/banner'

.yui-b.sidebar
  =render :partial => 'base/homepage_nav'

  - if AppConfig.show_advertising
    .centered#featured_ads
      %small.gray
        Advertisements | 
        %a{:href=>"/advertise",:target=>"_blank",:title=>"Advertise with us"} Advertise with us
    %br.clear
  
  .rounded.blue_sidebar
    .padded
      %h2 What's Hot?
      %ul.sidebar_posts
        -@popular_posts.each do |post|
          %li=link_to truncate(post.title, 75), user_post_path(post.user, post)
  %br.clear

  .rounded.active_users
    .padded
      %h2= AppConfig.featured_writer_label
      -@featured_writers.each do |user|
        =render :partial => "shared/featured_writer", :locals => {:user => user}
  %br.clear

  .rounded.active_users
    .padded
      %h2 Active Users
      -@active_users.each do |user|
        =render :partial => "shared/new_user", :locals => {:user => user}
  %br.clear
  %br

#yui-main
  .yui-b.main_column
    =render :partial => '/base/homepage_features'
    -rounded(:class => 'main_column' ) do 
      %h2.super 
        Recent Posts 
        %small
          = "(#{link_to "see popular", popular_url})"

      .padded
        -@posts.each do |post|
          = render :partial => "shared/blog_excerpt", :locals => {:post => post}
        = link_to "Archive", recent_url, :class => "right"

%br.clear

%h2.impact What's Fresh?
.footer_content
  .padded#footer_content
    %span
      =image_tag 'spinner.gif', :plugin => "community_engine"
      Loading recent content...

%script{:type=>"text/javascript"}
  ="Event.observe(window, 'load', function(){	#{remote_function(:update => "footer_content", :url => { :controller => 'base', :action => 'footer_content' })} });"