- @page_title = configatron.community_name + ' ' + :home.l
- @meta = { :description => configatron.meta_description, :keywords => configatron.meta_keywords, :robots => configatron.robots_meta_list_content }

-unless logged_in?
  =render :partial => 'base/homepage_banner_message'

-box :class => "hfeed" do 
  %h2
    =:recent_posts.l
  = render :partial => 'posts/post', :collection => @posts
  %i.icon-plus-sign.pull_left
  = link_to :see_all_recent_posts.l, recent_path

=render :partial => 'shared/explore'

-widget do 
  %ul.nav.nav-list
    %li.nav-header= :whats_hot.l
    -@popular_posts.each do |post|
      =render :partial => 'posts/sidebar_post', :locals => {:post => post}
    %li
      %i.icon-plus-sign.pull-left
      %a{:href=>popular_url}
        = :see_all.l.downcase.capitalize

-widget do 
  %ul.nav.nav-list
    %li.nav-header=:featured_writer.l
    -@featured_writers.each do |user|
      =render :partial => "users/sidebar_user", :locals => {:user => user}

-widget do 
  %ul.nav.nav-list
    %li.nav-header= :active_users.l
    -@active_users.each do |user|    
      =render :partial => "users/sidebar_user", :locals => {:user => user}      
