=render :partial => 'base/homepage_banner_message'

#login
  = form_tag sessions_path, :class => "MainForm" do
    %label{"for"=>"username"}
      =:username.l
      \:
    = text_field_tag 'login', nil, :size => 35

    %label{"for"=>"password"} 
      =:password.l
      \:
    = password_field_tag 'password', nil, :size => 35

    %fieldset
      %label{"for"=>"remember_me"} 
        =:remember_me.l
        \:
        = check_box_tag 'remember_me'
    
    %p= submit_tag :log_in.l
