<div class="column span-9 posts">
	<div class="contest">			
		<h2><%= @contest.title %></h2>
		<h3>From <%= @contest.begin_date.strftime("%B %d, %Y") %> To <%= @contest.end_date.strftime("%B %d, %Y") %></h3>
		<p><%= @contest.post %></p>
	</div>
  
  <hr />
	<h2 class="super"><%= :contest_entries.l %></h2>
		<% @contest.posts.each do |post| %>
			<%= render :partial => "posts/post", :locals => {:post => post} %>
		<% end %>
</div>

<div class="column span-5 last">
  <br />
  <br />  
	<% if @contest.active? %>
		<h3 class="centered">			
		<% if current_user %>
			<%= link_to :click_here_to_enter_this_contest.l, new_user_post_path({:user_id => current_user, 'post[contest_id]' => @contest.id, 'post[category_id]' => Category.find(:first).id }) %>
		<% else %>		
			<%= link_to :click_here_to_sign_up_for_an_account_and_enter.l, signup_path %>
		<% end %>
		</h3>
    <div class="padded">
        <small><%= :for_detailed_contest_rules.l %> <a href="/rules.html"><%= :click_here.l %></a>.</small>
    </div>						
	<% else %>
		<h3><%= :this_contest_is_closed.l %></h3>
	<% end %>  
</div>
		
