%label{"for"=>"topic_title"}= :title.l
= form.text_field :title, :class => "primary"

- if admin? or current_user.moderator_of?(@topic.forum)
  %fieldset
    %label
      = form.check_box :sticky
      = :sticky.l
    %label
      = form.check_box :locked
      = :locked.l

%label
  = :tags.l
  %em="(#{:optional_keywords_describing_this_topic_separated_by_commas.l})"
= text_field_tag 'tag_list', @topic.tag_list.to_s, {:autocomplete => "off", :size => 35}
#tag_list_auto_complete.auto_complete

-content_for :end_javascript do
  = auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','] }

- if @topic.new_record?
  %label{"for"=>"topic_body"}= :body_text.l
  = form.fields_for :sb_posts do |x|
    = x.text_area :body, :rows => 12, :class => 'rich_text_editor'
  
  - if admin? and not @topic.new_record?
    %p#topic_forum_id
      %label{"for"=>"topic_forum_id"}= :forum.l
      = form.select :forum_id, Forum.find(:all, :order => "position").map {|x| [x.name, x.id] }
