-@page_title= :new_topic.l
-box do 
  %p.subtitle
    = :by.l :login => current_user.display_name
    
  = error_messages_for :topic
  = form_for @topic, :url  => forum_topics_path(@forum), :html => {:class => "MainForm"} do |f|
    = render :partial => "form", :object => f
    %p
      = submit_tag :post_topic.l, :class => 'btn btn-primary'

  -content_for :end_javascript do
    = javascript_tag "$('topic_title').focus();"
