.yui-b
  = render :partial => 'shared/admin_nav' if current_user.admin?

#yui-main
  .yui-b
    .box
      %h3= :contests.l
      = link_to :new_contest.l, new_contest_path

      %table{:width=>"100%"}
        %tr
          %th= :date_title.l
          %th= :title.l
          %th= :description.l
          %th= :begin.l
          %th= :end.l
          %th= :actions.l

        - for contest in @contests
          %tr
            %td=h I18n.l(contest.created_at, :format => :short_published_date)
            %td=h contest.title
            %td=h truncate(contest.post, :length => 250)
            %td=h I18n.l(contest.begin_date, :format => :short_published_date)
            %td=h I18n.l(contest.end_date, :format => :short_published_date)
            %td
              = link_to :show.l, contest_path(contest)
              %br
              = link_to :edit.l, edit_contest_path(contest)
              %br
              = link_to :destroy.l, contest_path(contest), :confirm => :are_you_sure.l, :method => :delete
