
= render :partial => 'shared/admin_nav'
-@page_title = :events.l

%table.table.table-bordered.table-striped
  %tr
    %th=:name.l
    %th=:metro_area.l
    %th=:when.l
    %th=:actions.l

  - for event in @events
    %tr
      %td= event.name
      %td= event.try(:metro_area).try(:name)
      %td=h event.time_and_date
      %td
        = link_to :show.l, event_path(event), :class => 'btn btn-default'
        = link_to :clone.l, clone_event_path(event), :class => 'btn btn-success'
        = link_to :edit.l, edit_event_path(event), :class => 'btn btn-warning'
        = link_to :delete.l, event_path(event), data: { confirm: :are_you_sure.l }, :method => :delete, :class => 'btn btn-danger'

=paginate @events, :theme => 'bootstrap'

%p= link_to :new_event.l, new_event_path, :class => 'btn btn-success'

