.yui-b
  = render :partial => 'shared/admin_nav'

#yui-main
  .yui-b
    -box do 
      %h3=:events.l

      %table{:width=>"100%"}
        %tr 
          %th=:name.l
          %th=:metro_area.l
          %th=:when.l
          %th=:actions.l

        - for event in @events
          %tr
            %td= event.name
            %td= event.try(:metro_area).try(:name)
            %td=h event.time_and_date
            %td
              = link_to :show.l, event_path(event)
              | 
              = link_to :edit.l, edit_event_path(event)
              |
              = link_to :clone.l, clone_event_path(event)
              |
              = link_to :destroy.l, event_path(event), :confirm => :are_you_sure.l, :method => :delete

      %p= link_to :new_event.l, new_event_path

    .pagination=paginating_links @events if @events.total_count > 1

