= render :partial => 'shared/admin_nav'
-@page_title = :members.l
-box do
  = bootstrap_form_tag :url => admin_users_url, :class => 'MainForm', :method => :get do |f|
    = f.text_field :login
    = f.text_field :email
    = f.primary :search_users.l

    = paginate @users, :theme => 'bootstrap'

  %br
  = bootstrap_form_tag :url => delete_selected_users_path, :id => 'users' do
    %table.table.table-bordered.table-striped
      %tr
        %th
        -if !configatron.akismet_key.nil?
          %th
        %th
        %th
        %th=:login.l
        %th=:e_mail.l
        %th=:status.l
        %th=:actions.l

      - @users.each do |user|
        %tr{:id => "user_#{user.id}"}
          %td
            = link_to fa_icon("trash-o"), user_path(user), :method => :delete, 'data-manual-confirm' => :are_you_sure_you_want_to_permanently_delete_this_user.l, :class => 'delete-via-ajax'
          -if !configatron.akismet_key.nil?
            %td
              = link_to fa_icon("ban"), user_path(user, :spam => true), :method => :delete, :confirm => :are_you_sure_you_want_to_permanently_delete_this_user_and_mark_as_spam.l, :class => 'delete-via-ajax'
          %td= check_box_tag "delete[]", user.id

          %td
            -if user.avatar
              = image_tag user.avatar.photo.url(:thumb), :width => 25
          %td
            = link_to h(user.login), user_path(user)
          %td
            = h user.email
          %td
            = user.active? ? :active.l : :inactive.l
          %td
            = link_to :assume_id.l , assume_user_path(user), :method => 'post', :class => 'btn btn-default'
            -unless user.active?
              = link_to :activate.l, admin_activate_user_path(user), :class => 'btn btn-success'

    -if @users.any?         
      -if !configatron.akismet_key.nil?
        = check_box_tag :spam
        =:delete_selected_mark_as_spam.l
        %br
      %a.btn.btn-default.check-all{:href=>"#"} Toggle all
      = submit_tag :delete_selected.l, :class => 'btn btn-danger'

    = paginate @users, :theme => 'bootstrap'
