= bootstrap_form_for(@homepage_feature, :html => {:multipart => true}, :layout => :horizontal) do |f|
  = f.text_field :url
  = f.text_field :title
  = f.text_area :description, :rows => 10, :class => "rich_text_editor"
  = f.file_field :image, :required => true
  = f.submit :save.l
