.col_full
  - rounded do
    %h1
      = :editing_homepage_feature.l
    = error_messages_for :homepage_feature
    = form_for(:homepage_feature, :url => homepage_feature_path(@homepage_feature), :html => { :multipart => true, :method => :put }) do |f|
      %p
        %b
          URL
        %br
        = f.text_field :url
      %p
        %b
          = :title.l
        %br
        = f.text_field :title
      %p
        %b
          = :description.l
        %br
        = f.text_area :description, :size => "69x10", :class => "rich_text_editor"
      %p
        %b
          = :filename.l
        %br
        = f.file_field :image
      %p
        = submit_tag :update.l
        or
        = link_to :cancel_and_go_back_to_all_features.l, homepage_features_path

