.yui-b
  = render :partial => 'shared/admin_nav'
  
#yui-main
  .yui-b
    -box do 
      %h3= :homepage_features.l
      = link_to :new_homepage_feature.l, new_homepage_feature_path 

      %table{:width=>"100%"}
        %tr
          %th= :date_title.l
          %th= :title.l
          %th= :description.l
          %th= :image.l
          %th= :actions.l

        - for homepage_feature in @homepage_features
          %tr
            %td=h I18n.l(homepage_feature.created_at, :format => :short_published_date)
            %td
              %a{:href=>"#{h homepage_feature.url}"}=h homepage_feature.title
            %td=h truncate(homepage_feature.description, :length => 250)
            %td= image_tag homepage_feature.image.url(:thumb)
            %td
              = link_to :show.l, homepage_feature_path(homepage_feature)
              %br
              = link_to :edit.l, edit_homepage_feature_path(homepage_feature)
              %br
              = link_to :destroy.l, homepage_feature_path(homepage_feature), :confirm => :are_you_sure.l, :method => :delete
