-@page_title = :new_homepage_feature.l
= error_messages_for :homepage_feature
= form_for(:homepage_feature, :url => homepage_features_path, :html => {:multipart =>true} ) do |f|
  = f.label :url
  = f.text_field :url
  
  = f.label :title
  = f.text_field :title
  
  = f.label :description
  = f.text_area :description, :size => "69x10", :class => "rich_text_editor"
  
  = f.label :image
  = f.file_field :image
  
  = submit_tag :create.l, :class => 'btn btn-primary'
