-@page_title = @homepage_feature.title

%p
  = link_to :back.l, homepage_features_path, :class => 'btn'
  = link_to :edit.l, edit_homepage_feature_path(@homepage_feature), :class => 'btn btn-warning'
  = link_to :delete.l, homepage_feature_path(@homepage_feature), data: { confirm: :are_you_sure.l }, :method => :delete, :class => 'btn btn-danger'

%dl.dl-horizontal.clearfix
  -unless @homepage_feature.url.blank?
    %dt= :url.l
    %dd= h @homepage_feature.url

  -unless @homepage_feature.title.blank?
    %dt= :title.l
    %dd= h @homepage_feature.title

  -unless @homepage_feature.description.blank?
    %dt= :description.l
    %dd= @homepage_feature.description.html_safe

  %dt= :created_at.l
  %dd= h @homepage_feature.created_at

  %dt= :updated_at.l
  %dd= h @homepage_feature.updated_at

= image_tag @homepage_feature.image.url(:large), :class => 'thumbnail'
