-box do
  %dl.dl-horizontal.clearfix
    %dt= :url.l
    %dd= h @homepage_feature.url
    %dt= :title.l
    %dd= h @homepage_feature.title
    %dt= :description.l
    %dd= @homepage_feature.description
    %dt= :created_at.l
    %dd= h @homepage_feature.created_at
    %dt= :updated_at.l
    %dd= h @homepage_feature.updated_at
= image_tag @homepage_feature.image.url(:large)
