## <%= configatron.community_name %>&trade; &#8211; <%= configatron.community_tagline %> ##


<%= @name %> souhaite partager l'article suivant avec vous :

<%= @title %>
[<%= @url %>]

Description:

<%= @description %>

Message personnel :

<%= @message %>


---------------------------------------	

Connectez vous sur votre compte <%= configatron.community_name %> : 

[<%= @signup_link %>]


Merci,
<%= @name.eql?('Someone') ? "L'Equipe #{configatron.community_name}" : @name %></p>

---------------------------------------	

<%= configatron.community_description %>

Pour toute information, ou pour signaler un problème, merci de contacter <%= configatron.support_email %>.	
