.yui-g.box
  .yui-u.first
    %h3 View my:
    %ul
      %li=link_to 'Profile', user_path(@user)  
      %li=link_to 'Blog', user_posts_path(@user)
      %li=link_to 'Photos', user_photos_path(@user)
      %li=link_to 'Clippings', user_clippings_path(@user)
      %li=link_to 'Friends', accepted_user_friendships_path(@user)

  .yui-u
    %h3 Manage my:
    %ul
      %li=link_to 'Profile', edit_user_path(@user)
      %li=link_to 'Account settings', edit_account_user_path(@user)
      %li=link_to 'Blog posts', manage_user_posts_path(@user)                
      -if current_user.admin?
        %li=link_to 'Admin dashboard', admin_dashboard_path

.box.alt
  %h3 Stats
  %ul
    %li="Last logged in: #{@user.last_login_at && @user.last_login_at.strftime("%m/%d/%y")}"
    %li= @user.created_at.strftime("Member since: %m/%d/%y")
    -unless @user.posts.empty?
      %li="#{@user.posts.count} blog posts."
    -unless @user.photos.empty?
      %li="#{@user.photos.count} photos."
    -unless @user.clippings.empty?
      %li="#{@user.clippings.count} clippings."
    -unless @user.comments.empty?
      %li="#{@user.posts.count} comments."
    -unless @user.accepted_friendships.empty?
      %li="#{@user.accepted_friendships.count} friends"