- if current_user && current_user.admin?
  .box.first_alt.alt
    %h3
      =:admin_controls.l
    = link_to( "&raquo; #{:assume_user_id.l}", assume_user_path(@user) )
    %br/
    = link_to( "&raquo; #{:delete_this_user.l}", user_path(@user), {:method => :delete, :confirm => :are_you_sure_you_want_to_permanently_delete_this_user.l} )
    %br/
    = link_to( "&raquo; #{:toggle.l} #{AppConfig.featured_writer_label}", toggle_featured_user_path(@user), {:method => :put} )
    %br/
    = link_to( "&raquo; #{:assign_role.l}: #{@user.moderator? ? :member.l : :moderator.l}", toggle_moderator_user_path(@user), {:method => :put} )

#profile_details.box.hentry
  %h3
    = link_to @user.login, user_path(@user)
    = " <small>(#{AppConfig.featured_writer_label})</small>" if @user.featured_writer?

  .centered
    - if @user.avatar
      = @user.vendor ? "<div class='right_corner'><div class='community_pro'></div></div>" : ''
      = @user.featured_writer ? "<div class='right_corner'><div class='featured_writer'></div></div>" : ''
      = image_tag( @user.avatar_photo_url(:medium), :class => 'polaroid')
    - elsif @is_current_user
      = image_tag( @user.avatar_photo_url(:medium), :class => "polaroid")
      %br
      =:no_profile_photo.l
      = link_to :click_here_to_upload_one.l, edit_user_path(@user)
    - else
      = image_tag( @user.avatar_photo_url(:medium), :class => "polaroid" )

  - if current_user and current_user.can_request_friendship_with(@user)
    = add_friend_link(@user)

  %h3=:my_details.l
  .vcard.author
    %ul
      %li.update
        %a{:href=>"#{user_path(@user)}", :rel=>"bookmark"}
          %abbr.published{:title=>"#{@user.created_at}"}
            = :member_since.l + @user.created_at.strftime(": %m/%d/%y")          
      %li.view
        =:profile_views.l
        = "(#{@user.view_count})"
      - if @user.offerings.any?
        %li.skills= :my_skills.l+": #{@user.offerings.collect{|o| link_to o.skill.name, skill_url(o.skill) }.join(', ')}"
      - if @user.tags.any?
        %li.tags= :my_tags.l+": #{@user.tags.collect{|t| link_to t.name, tag_url(t) }.join(", ")}"
      - if @user.metro_area
        %li.geo= link_to( @user.full_location, users_path(:metro_area_id => @user.metro_area_id, :state_id => @user.state_id, :country_id => @user.country_id ) ) 
