%user
  %id= user.id
  %img_url= user.avatar_photo_url(:thumb)
  %display_name= user.login 
  %location
    - if user.metro_area  :from2.l + " #{user.location}" 
  %last_update{:title=>"#{user.created_at}"}=:joined.l + " #{time_ago_in_words user.created_at}"
  - if user.offerings.any?
    %skills= user.offerings.collect{|o| link_to o.skill.name, skill_url(o.skill) }.join(', ')
  - if current_user and current_user.can_request_friendship_with(user)
    %addfriend= add_friend_link(user)
  %description= user.description
    