- @section = 'my_profile'

.profile
  .yui-b
    %h3 Dashboard
    .yui-g
      .yui-u.first
        View my:
        %ul
          %li=link_to 'Profile', user_path(@user)  
          %li=link_to 'Blog', user_posts_path(@user)
          %li=link_to 'Photos', user_photos_path(@user)
          %li=link_to 'Clippings', user_clippings_path(@user)
          %li=link_to 'Friends', accepted_user_friendships_path(@user)
      .yui-u
        Manage my:
        %ul
          %li=link_to 'Profile', edit_user_path(@user)
          %li=link_to 'Account settings', edit_account_user_path(@user)
          %li=link_to 'Blog posts', manage_user_posts_path(@user)          
    
    %h3 Stats
    %ul
      %li="You last logged in on #{@user.last_login_at && @user.last_login_at.strftime("%m/%d/%y")}"
      %li= @user.created_at.strftime("Member since: %m/%d/%y")
      -unless @user.posts.empty?
        %li="You have written #{@user.posts.count} blog posts."
      -unless @user.photos.empty?
        %li="You have uploaded #{@user.photos.count} photos."
      -unless @user.clippings.empty?
        %li="You have created #{@user.clippings.count} clippings."
      -unless @user.comments.empty?
        %li="You have left #{@user.posts.count} comments."
      -unless @user.accepted_friendships.empty?
        %li="You have #{pluralize @user.accepted_friendships.count, 'friend'}." 
      

    
  #yui-main
    .yui-b
      %h2= random_greeting(@user)
      
      -if @user.pending_friendships.any?
        %p=link_to "#{image_tag 'icons/friend.png', :plugin => 'community_engine'} You have pending friendship requests.", pending_user_friendships_path(@user)
      
      
      -if @network_activity.empty? && @recommended_posts.empty?
        %p
          This is your dashboard. 
          %br
          Once you start adding friends, you'll be able to track their activity on 
          =AppConfig.community_name
          here.
        %p
          To start adding friends, you can 
          =link_to 'browse all members', users_path
        %p
          =link_to 'Update your profile and tag yourself', edit_user_path(current_user)
          to start getting recommended content on your dashboard.

      
      -unless @network_activity.empty?
        %h3 Activity from your network
        %table{:width => "100%"}
          =render :partial => "activities/activity", :collection => @network_activity

      -unless @recommended_posts.empty?
        %h3 Recommended Posts
        #posts
          %ul
            -@recommended_posts.each do |post|
              %li
                = link_to( "#{post.tag_for_first_image_in_body} #{truncate(post.display_title, 75)} <span class='post_excerpt'>#{ truncate_words(post.post, 35, '...' )} (by #{post.user.login})</span>", user_post_path(post.user, post), :title => "by #{post.user.login}" )
        
      
  .clear
  
= resize_img('clipping', 100, 100)