-widget do
  %ul.nav.nav-list
    %li.nav-header=:you_are_editing_your_account.l
    %li= link_to :edit_your_user_profile.l, edit_user_path(@user)

-widget do
  = render :partial => "omniauth_connect"


= bootstrap_form_for @user, :method => 'put', :html => {:class => "form form-horizontal", :multipart => true} do |f|

  = f.text_field  :login, :label => :username.l

  = f.text_field  :email, :label => :e_mail_address.l

  = f.password_field :password

  = f.password_field :password_confirmation, :label => :confirm_password.l

  %h2=:e_mail_notification.l

  %fieldset.form-group
    =f.check_box :notify_friend_requests, :label => :notify_of_friend_requests.l(:site => configatron.community_name)

    =f.check_box :notify_comments, :label => :notify_of_comments.l(:site => configatron.community_name)

    =f.check_box :notify_community_news, :label => :notify_email_updates.l(:site => configatron.community_name)

  %h2=:profile_privacy.l

  %fieldset.form-group

    =f.check_box :profile_public, :label => :make_my_profile_public.l, :help_block => "#{:when_checked_your_profile_will_be_visible_to_anyone.l}<br />#{:when_unchecked_your_profile_will_only_be_visible_to_people_who_are_logged_in_to.l} #{configatron.community_name}.".html_safe

    = f.actions do
      =f.submit :value => :save_changes.l

    .well
      =link_to :deactivate_link.l, deactivate_user_path(@user), :method => :put, data: { confirm: :deactivate_confirmation.l }, :class => 'btn btn-danger'
      %br
      %label
        %em= :deactivate_tip.l
