%script{"type"=>"text/javascript", "src"=>"http://www.plaxo.com/css/m/js/util.js"}
%script{"type"=>"text/javascript", "src"=>"http://www.plaxo.com/css/m/js/basic.js"}
%script{"type"=>"text/javascript", "src"=>"http://www.plaxo.com/css/m/js/abc_launcher.js"}

.yui-b
  -box :class => "alt first_alt" do 
    %h3=:spread_the_word.l
    %p
      =:invite_message.l(:site => configatron.community_name)
    %p
      =:people_who_sign_up_using_your_invitation_will_automatically_be_added_as_your_friends.l

#yui-main
  .yui-b
    -box do 
      %h3=:invite_your_friends_to_join.l
      = form_for(:invitation, :url => user_invitations_path(:user_id => @user.id ), :html => {:class => "MainForm"} ) do |f|
        .right
          %a{"href"=>"#", "onclick"=>"showPlaxoABChooser('invitation_email_addresses', '/base/plaxo'); return false;"}
            %img{"src"=>"http://www.plaxo.com/images/abc/buttons/add_button.gif", "alt"=>:add_from_my_address_book.l}/
        %label{"for"=>"email_addresses"} 
          =:enter_e_mail_addresses.l 
          %em= :comma_separated.l
        = f.text_area :email_addresses , :rows => "5"
        %label{"for"=>"message"}= :write_a_message.l
        = f.text_area :message, :rows => "5"

        %p
          = submit_tag :send_invitations.l
          =:or.l
          = link_to :cancel.l, user_path(@user)
