.yui-b
  -box do
    %h3
      =:why_sign_up.l
    %ul.list.checks
    %li
      = :sign_up_reason_1.l
    %li
      = :sign_up_reason_2.l

  -box :class => 'alt' do
    %h3=:tips.l
    %p
      =:after_signing_up_youll_receive_an_e_mail_confirmation_message.l
    %p
      =:click_the_activation_link_in_the_e_mail_to_log_in.l
    %p= link_to :already_have_an_account.l, "/login"

#yui-main
  .yui-b
    -box do
      %h3=:sign_up.l
      = error_messages_for :user
      = form_for :user, :url => users_path, :html => {:class => 'MainForm'} do |f|
        %label{"for"=>"user_login"}
          =:username.l
          \:
          %em=:required_your_username_must_not_contain_numerals_spaces_or_special_characters.l
        = f.text_field :login

        %label{"for"=>"user_email"}
          =:e_mail_address.l
          \:
          %em=:required_we_will_send_a_confirmation_e_mail_to_the_address_you_enter.l
        = f.text_field :email

        %label{"for"=>"user_birthdate"}
          =:birthday.l
          \:
          %em=:required_you_must_be_at_least_years_old_to_sign_up.l_with_args(:min_age => configatron.min_age)
        = date_select :user, :birthday, {:start_year => (Time.now.year - configatron.max_age), :end_year => (Time.now.year - configatron.min_age)}

        -if configatron.require_captcha_on_signup
          .right{:style => 'margin-top:2em;'}= recaptcha_tags

        %label{"for"=>"user_password"}
          =:type_your_password.l
        = f.password_field :password
        %label{"for"=>"user_password_confirmation"}
          =:re_type_your_password_to_confirm.l
        = f.password_field :password_confirmation
        = hidden_field_tag :inviter_id, params[:inviter_id]
        = hidden_field_tag :inviter_code, params[:inviter_code]
        %p= submit_tag :sign_up.l
