.box
  %h3="Go check your e-mail!".l
  %ul.list.checks
    %li= :we_just_sent_an_e_mail_to.l :email => @user.email
    %li= :look_for_a_message_from.l :from => AppConfig.community_name
    %li= :see_you_back_here_in_a_short_while.l        

  %h3= :no_activation_email.l
  = link_to(:resend_activation_email_link.l, "/resend_activation?email=#{@user.email}", :method => 'post')