-@page_title=:profile_photo.l

= bootstrap_form_for :avatar, :url => upload_profile_photo_user_url(@user), :method => 'put', :multipart =>true, :html => {:class => 'form form-horizontal'} do |f|
    
  = @user.vendor ? "<div class='right_corner'><div class='community_pro'></div></div>" : ''
  = image_tag( @user.avatar_photo_url(:medium), :class => "thumbnail" )
  
  = f.file_field :photo, :label => :choose_a_photo_for_your_profile.l

  .controls
    = f.submit :save_changes.l
