.yui-b
  -box :class => "alt first_alt" do 
    %h3=:get_started.l + ' ' + :upload_a_profile_photo.l
    %p
      =:photo_message.l :site => configatron.community_name
    = link_to :skip_this_step.l, welcome_about_user_path(@user)
    %br/
    = link_to :go_to_your_profile.l, user_path(@user)

#yui-main
  .yui-b
    -box do 
      = form_for( @user, :url => user_path(:welcome => 'about'), :method => :put, :multipart => true, :html => {:class => "MainForm"}) do |f|
        %h3=:profile_photo.l
        %p.centered
          = image_tag( @user.avatar_photo_url(:medium), :class => "right" )
            
        = f.fields_for :avatar, @avatar do |avatar_form|
          %label
            =:choose_a_photo_to_upload.l
            %em          
              - if @user.vendor?
                =:vendor_avatar_hint.l
              =:photos_should_be_x_pixels.l

          = avatar_form.file_field :photo, :size => '15'
            
        %p
          = submit_tag :upload_and_continue_to_step_two.l
