.yui-b
  .box.alt.first_alt
    %h3="Get Started: Upload a profile photo".l
    %p
      =:photo_message.l_with_args :site=>AppConfig.community_name
    = link_to "&raquo; " + "Skip this step".l, welcome_about_user_path(@user)
    %br/
    = link_to "&raquo; " + "Go to your profile".l, user_path(@user)

#yui-main
  .yui-b
    .box
      - form_tag( user_path(:welcome => 'about'), :method => 'put', :multipart =>true, :class => "MainForm") do
        %h3="Profile Photo".l
        %p.centered
          = image_tag( @user.avatar_photo_url(:medium), :class => "right" )
        %label
          ="Choose a photo to upload:".l
          %em          
            - if @user.vendor?
              ="You may want to use your company logo, or a photo of one of your products. ".l
            ="Photos should be 300x300 pixels.".l
        = file_field :avatar, :uploaded_data, :size => "20"

        %p
          = submit_tag 'Upload, and continue to step two'.l
