-@page_title= :get_started.l + ' ' + :invite_some_friends.l
-@page_title= :invite_some_customers.l if @user.vendor?

%script{"type"=>"text/javascript", "src"=>"http://www.plaxo.com/css/m/js/util.js"}
%script{"type"=>"text/javascript", "src"=>"http://www.plaxo.com/css/m/js/basic.js"}
%script{"type"=>"text/javascript", "src"=>"http://www.plaxo.com/css/m/js/abc_launcher.js"}

%p
  =:invite_message.l(:site=> configatron.community_name)
%p=:people_who_sign_up_using_your_invitation_will_automatically_be_added_as_your_friends.l
  
= bootstrap_form_for :invitation, :url => user_invitations_path(:user_id => @user.id), :html => {:class => "form form-horizontal"} do |f|  

  .pull-right
    %a{"href"=>"#", "onclick"=>"showPlaxoABChooser('invitation_email_addresses', '/base/plaxo'); return false;"}
      %img{"src"=>"http://www.plaxo.com/images/abc/buttons/add_button.gif", "alt"=>:add_from_my_address_book.l}

  = f.text_area :email_addresses, :rows => 5, :label => :enter_e_mail_addresses.l, :help_block => :comma_separated.l
  = f.text_area :message, :rows => 5, :label => :write_a_message.l, :value => "#{configatron.community_name} "+:is_great_check_it_out_youll_love_it.l+" #{}"

  .controls.btn-group
    = submit_tag :send_invitations.l, :class => 'btn btn-primary'
    = link_to :skip_this_and_go_to_your_profile.l, user_path(@user), :class => 'btn btn-primary'
