.yui-b
  .box.alt.first_alt
    %h3=:get_started.l + ' ' + :upload_a_profile_photo.l
    %p
      =:photo_message.l :site => AppConfig.community_name
    = link_to "&raquo; " + :skip_this_step.l, welcome_about_user_path(@user)
    %br/
    = link_to "&raquo; " + :go_to_your_profile.l, user_path(@user)

#yui-main
  .yui-b
    .box
      - form_tag( user_path(:welcome => 'about'), :method => 'put', :multipart =>true, :class => "MainForm") do
        %h3=:profile_photo.l
        %p.centered
          = image_tag( @user.avatar_photo_url(:medium), :class => "right" )
        %label
          =:choose_a_photo_to_upload.l
          %em          
            - if @user.vendor?
              =:you_may_want_to_use_your_company_logo_or_a_photo_of_one_of_your_products.l
            =:photos_should_be_x_pixels.l
        = file_field :avatar, :uploaded_data, :size => "20"

        %p
          = submit_tag :upload_and_continue_to_step_two.l
