-box do
  %h3= :editing_skill

  = form_for(:skill, :url => skill_path(@skill), :html => { :method => :put, :class => "MainForm" }) do |f|
    %label= :name.l
    = f.text_field :name

    %p= submit_tag :update.l


  = link_to :show.l, skill_path(@skill)
  |
  = link_to :back.l, skills_path
