.yui-b
  = render :partial => "skills/sidebar_menu"
  
  - unless logged_in?
    -box :class => "alt" do 
      = :want_to_list_your_services_on.l+" #{AppConfig.community_name}?"
      = link_to :sign_up.l, '/signup?user[vendor]=true'

  -if @active_users.any?
    -box :class => "alt" do 
      %h3= :top_pros.l
      - @active_users.each do |user|
        = render :partial => "users/sidebar_user", :locals => {:user => user}

#yui-main
  .yui-b
    -box :class => "user_list" do 
      %h3= "#{AppConfig.community_name} "+:pros.l

      .pagination= paginating_links @users if @users.page_count > 1

      = render :partial => "users/user", :collection => @users, :locals => {:format => 'full' }
    
      %br.clear
      .pagination= paginating_links @users if @users.page_count > 1
