.box
  %h3= :new_skill.l
  - form_for(:skill, :url => skills_path, :html => {:class => "MainForm" }) do |f|
    %label= :name.l+":"
    = f.text_field :name

    %p= submit_tag :create.l

  = link_to :back.l, skills_path