.yui-b
  = render :partial => "skills/sidebar_menu"

#yui-main
  .yui-b.box.user_list
    %h3
      = AppConfig.community_name
      =:pros_skilled_in.l
      = @skill.name
    = content_tag :h2, :sorry_we_dont_have_any_pros_in_this_skill_category_yet.l if @skill.users.empty?

    = render :partial => "users/user", :collection => @users
    %br.clear
    .pagination= paginating_links @users if @users.page_count > 1
    