.box
  %h3="Admin".l

  %ul.list.checks
    %li= link_to "Features".l, homepage_features_path
    - if feature_enabled?('categories')
      %li= link_to "Categories".l, categories_path
    - if feature_enabled?('contests')
      %li= link_to "Contests".l, contests_path
    %li= link_to "Metro areas".l, metro_areas_path
    - if feature_enabled?('skills')
      %li= link_to "Skills".l, new_skill_path 
    - if feature_enabled?('events')
      %li= link_to "Events".l, events_path
    %li= link_to "Statistics".l, statistics_path
    %li= link_to "Ads".l, ads_path 
