.box
  %h3=:admin.l

  %ul.list.checks
    %li= link_to :features.l, homepage_features_path
    - if feature_enabled?('categories')
      %li= link_to :categories.l, categories_path
    - if feature_enabled?('contests')
      %li= link_to :contests.l, contests_path
    %li= link_to :metro_areas.l, metro_areas_path
    - if feature_enabled?('skills')
      %li= link_to :skills.l, new_skill_path 
    - if feature_enabled?('events')
      %li= link_to :events.l, events_path
    %li= link_to :statistics.l, statistics_path
    %li= link_to :ads.l, ads_path 
