-# .btn-navbar is used as the toggle for when the responsive design gets narrow and the navbar goes away
%a.btn.btn-navbar{'data-target'=>".nav-collapse", 'data-toggle'=>"collapse"}
  .icon-bar
  .icon-bar
  .icon-bar
= link_to configatron.community_name, home_path, :class => 'brand'
.nav-collapse
  %ul.nav
    = render 'categories/menu_item'
    = render 'clippings/menu_item'
    = render 'forums/menu_item'
    = render 'posts/menu_item'
    = render 'users/menu_item'
    - if @header_tabs.any?
      - for tab in @header_tabs
        %li= link_to tab.name, tab.url
  %ul.nav.pull-right
    = render 'messages/menu_item'
    = render 'sessions/menu_item'