= javascript_include_tag "prototype"
= javascript_include_tag "effects"	
= javascript_include_tag "rails"
= javascript_include_tag "application"
= javascript_include_tag "controls" unless current_page?({:controller => 'base', :action => 'site_index'})

= stylesheet_link_tag 'reset-fonts-grids.css', :plugin => :community_engine
= stylesheet_link_tag 'screen', :plugin => :community_engine
= stylesheet_link_tag 'print', :plugin => :community_engine, :media => 'print'

= javascript_include_tag 'lightbox'
= stylesheet_link_tag 'lightbox'		

= javascript_include_tiny_mce_if_used
= tiny_mce if using_tiny_mce?

- if forum_page?
  = javascript_include_tag 'forum', :plugin => 'community_engine'  
  = stylesheet_link_tag 'forum', :plugin => 'community_engine'
  - unless @feed_icons.blank?
    - @feed_icons.each do |feed|
      = auto_discovery_link_tag :rss, feed[:url], :title => "Subscribe to '#{feed[:title]}'"
