%h2#user-menu
  =:logged_in.l
  = link_to current_user.login, dashboard_user_path(current_user)
  #user-menu-tip
    %ul
      -if current_user.admin?
        %li=link_to :admin_dashboard.l, admin_dashboard_path
      %li= link_to :edit_profile.l, edit_user_path(current_user) 
      %li= link_to :edit_account.l, edit_account_user_path(current_user)          
      %li= link_to :manage_posts.l, manage_user_posts_path(current_user)
      %li= link_to :inbox.l, user_messages_path(current_user)          

    %hr
    %ul
      %li= link_to :my_profile.l, user_path(current_user)                    
      %li=link_to :my_blog.l, user_posts_path(current_user)
      %li=link_to :photo_manager.l, user_photo_manager_index_path(current_user)
      %li=link_to :my_clippings.l, user_clippings_path(current_user)
      %li=link_to :my_friends.l, accepted_user_friendships_path(current_user)        
    %hr
    =link_to :log_out.l, logout_path