.padded
  .right
    = link_to image_tag( user.avatar_photo_url(:thumb), :class => "polaroid", :width => '50px' ), user_path(user)

  %h3= link_to "#{truncate(user.login, 15)}", user_path(user), :class => "quiet"
  -if user.description
    = truncate_words( user.description, 10, '...')
    %br
    = "From: " + link_to( user.location, users_path(:metro_area_id => user.metro_area_id, :state_id => user.state_id, :country_id => user.country_id ) ) if user.metro_area