%h3
  = event.name
  = "(#{event.metro_area.to_s})" unless event.metro_area.blank?
- if (logged_in? && event.user.eql?(current_user))
  = link_to :edit_this_event.l, edit_event_path(event)
  |
  = link_to(:delete_this_event.l, event_path(event), {:method => :delete, :confirm => :permanently_delete_this_event.l})
  %br
%p
  %strong
    %b= :when.l+":"
    =h event.time_and_date
  - unless event.location.blank?
    %br
    %strong
      %b= :where.l+":"
      =h event.location
      = link_to :map_it.l, "http://www.google.com/maps?q=#{URI::encode(event.location)}", :title=>:map_it.l, :target=>'_blank'
- if show_details_link
  - unless event.description.blank?
    %p= link_to :event_details.l, event_url(event)

