= bootstrap_form_for(@event, :html => {:class => "form form-horizontal"} ) do |f|
  = f.text_field :name

  = f.text_area :description, :rows => 10, :class => "rich_text_editor"

  = f.datetime_select :start_time
  = f.datetime_select :end_time

  = f.check_box :allow_rsvp, :help_inline => :when_checked_users_will_be_able_to_rsvp_for_this_event.l

  = f.text_field :location

  .control-group
    %label.control-label= :metro_area.l
    .controls
      = render :partial => 'shared/location_chooser', :locals => {:selected_country => @country_id, :selected_state => @state_id, :selected_metro_area => @metro_area_id, :states => @states, :metro_areas => @metro_areas}

  .controls
    = f.submit :save.l
