-box :class => "alt" do
  %h3= :subscribe_to.l + ' ' + :events.l
  %p= :subscribe_events_instructions.l
  .icon_row
    = link_to image_tag('/assets/icons/ical.gif'), ical_events_url(:protocol => 'webcal://', :format=>'ics')
    = link_to image_tag("http://www.google.com/calendar/images/ext/gc_button1.gif"), "http://www.google.com/calendar/render?cid=#{ical_events_url(:format=>'ics')}", :target=>'_blank'

