.box
  %h3= :edit_event.l
  = error_messages_for :event
  - form_for(:event, :url => event_path(@event), :html => {:method => :put, :class => "MainForm"} ) do |f|
    %label= :name.l
    = f.text_field :name
    
    %label= :description.l
    = f.text_area :description, :size => "69x10", :class => "rich_text_editor"
    
    %label= :start_time.l
    = datetime_select(:event, :start_time)
    
    %label= :end_time.l
    = datetime_select(:event, :end_time)
    
    %label= location.l
    = f.text_field :location
    - #= render :partial => 'shared/location_chooser', :locals => {:selected_country => nil, :selected_state => nil, :selected_metro_area => @event.metro_area_id, :states => [], :metro_areas => MetroArea.find(:all)}
    - #= render :partial => 'shared/location_chooser', :locals => {:selected_metro_area => @event.metro_area_id, }
    %p
      = submit_tag :save.l

  = link_to :back.l, events_path
