- @section = 'events'

.yui-b
  - if @is_admin_user
    -box :class => "alt first_alt" do 
      = link_to :post_an_event.l, new_event_path
      %br
      = link_to_unless_current :past_events.l, past_events_path
      = link_to_unless_current :upcoming_events.l, events_path
      

  -box do 
    %h3= :events.l
    = :find_out_where_to_be_and_when_to_be_there.l

#yui-main
  .yui-b
    -box do 
    
      .pagination=paginating_links @events if @events.page_count > 1      

      - @events.each do |event|
        %h3= event.name
        - if (logged_in? && event.user.eql?(current_user))
          = link_to :edit_this_event.l, edit_event_path(event)
          |
          = link_to(:delete_this_event.l, event_path(event), {:method => :delete, :confirm => :permanently_delete_this_event.l})
          %br
        %strong
          %b When:
          =h event.time_and_date
        %br
        %strong
          - unless event.evt_location.blank?
            %b Where:
            =h event.evt_location
            = link_to :map_it.l, "http://www.google.com/maps?q=#{URI::encode(event.evt_location)}", :title=>:map_it.l, :target=>'_blank'
        %p= event.description

      .pagination=paginating_links @events if @events.page_count > 1      
