- @section = 'events'

.yui-b
  - if @is_admin_user
    .box.alt.first_alt
      = link_to "Post an event".l, new_event_path

  .box
    %h3 Events
    Find out where to be, and when to be there.

#yui-main
  .yui-b
    .box
    
      .pagination=paginating_links @events if @events.page_count > 1      

      - @events.each do |event|
        %h3= event.name
        - if event.user.eql?(current_user)
          = link_to "Edit this event".l, edit_event_path(event)
          |
          = link_to("Delete this event".l, event_path(event), {:method => :delete, :confirm => 'Permanently delete this event?'.l})
        %strong= h event.time_and_date
        %br
        %strong= h event.location
        %p= event.description

      .pagination=paginating_links @events if @events.page_count > 1      
