=javascript_include_tag 'calendarview', :plugin => 'community_engine'
=stylesheet_link_tag  'calendarview', :plugin => 'community_engine'

-box do
  %h3= :new_event.l
  = error_messages_for :event
  - form_for(:event, :url => events_path, :html => {:class => "MainForm"} ) do |f|
    %label= :name.l
    = f.text_field :name
    
    %label= :description.l
    = f.text_area :description, :size => "69x10", :class => "rich_text_editor"
    
    %label= :start_time.l
    = f.text_field :start_time, :class => 'date_input'
    = f.time_select(:start_time, :time_separator => ':')
    
    %label= :end_time.l
    = f.text_field :end_time, :class => 'date_input'
    = f.time_select(:end_time, :time_separator => ':')
    
    
    %label= :location.l
    = f.text_field :location
    - #= render :partial => 'shared/location_chooser', :locals => {:selected_country => nil, :selected_state => nil, :selected_metro_area => @event.metro_area_id, :states => [], :metro_areas => MetroArea.find(:all)}
    - #= render :partial => 'shared/location_chooser', :locals => {:selected_metro_area => @event.metro_area_id, }
    %p
      = submit_tag :create.l

  = link_to :back.l, events_path


%script{:type => 'text/javascript'}
  :plain
    Event.observe(window, 'load', function() { 
      Calendar.setup(
        {  dateField: 'event_start_time' }
      )    

      Calendar.setup(
        {  dateField: 'event_end_time' }
      )    
    })