- @section = 'events'
- @page_title = @event.name
-widget do 
  %ul.nav.nav-list
    %li
      - if @is_admin_user
        = link_to :administer_events.l, admin_events_path
    %li
      %i.icon-plus-sign.pull-left
      = link_to :see_all_events.l, events_path
=render :partial=>'subscribe'

-box do 
  = render :partial=>'event', :locals=>{:event=>@event, :show_details_link=>false}
  = @event.description.html_safe unless @event.description.blank?
  - unless @event.attendees.blank?
    %dl.dl-horizontal
      %dt=:attendees.l
      %dd
        %ul
          - @event.attendees.each do |user|
            %li
              = link_to h(user.display_name), user_path(user)
              - if (count = @event.attendees_for_user(user)) > 1
                %span.badge.badge-info= "+#{count-1}"
                
-box :id => 'comments' do      
  %h2= :event_comments.l 
  %h3= :add_your_comment.l
  = render :partial => 'comments/comment_form', :locals => {:commentable => @event}
  %a#newest_comment
  = render :partial => 'comments/comment', :collection => @comments
  %span#more_comments_links= more_comments_links(@event)
/ ends box

