- @section = 'events'

.yui-b
  .box.alt.first_alt
    - if @is_admin_user
      = link_to :new_event.l, new_event_path
    = link_to :see_all_events.l, events_path

#yui-main
  .yui-b.box
    %h3= @event.name
    - if @event.user.eql?(current_user)
      = link_to :edit_this_event.l, edit_event_path(@event)
      |
      = link_to(:delete_this_event.l, event_path(@event), {:method => :delete, :confirm => :permanently_delete_this_event.l})
      %br

    %strong= h @event.time_and_date
    %br
    %strong= h @event.location
    %p= @event.description
