- @section = 'events'

.yui-b
  -box :class => "alt first_alt" do 
    - if @is_admin_user
      = link_to :administer_events.l, admin_events_path
    = link_to :see_all_events.l, events_path
  =render :partial=>'subscribe'
#yui-main
  .yui-b
    -box :class=>'entry-content event-content' do 
      = render :partial=>'event', :locals=>{:event=>@event, :show_details_link=>false}
      = @event.description.html_safe unless @event.description.blank?
      - unless @event.attendees.blank?
        %p
          %b=:attendees.l+':'
          - @event.attendees.each do |user|
            = link_to h(user.display_name), user_path(user)
            - if (count = @event.attendees_for_user(user)) > 1
              = "(+#{count-1})"
    -box :class => 'hfeed comments', :id => 'comments' do      
      %h3= :event_comments.l 
      %h2= :add_your_comment.l
      = render :partial => 'comments/comment_form', :locals => {:commentable => @event}
      %a#newest_comment
      = render :partial => 'comments/comment', :collection => @comments
      %span#more_comments_links= more_comments_links(@event)
    / ends box

