<h2>Inbox</h2>
<table>
	<tr>
		<th>Del?</th>
		<th>Sent</th>
		<th>Sender</th>
		<th>Sent</th>
	</tr>
	<%% if @<%= plural_lower_case_name %>.size == 0 %>
		<tr>
			<td colspan="4">
				No messages
			</td>
		</tr>
	<%% else %>
		<%% for <%= singular_lower_case_name %> in @<%= plural_lower_case_name %> %>
			<tr>
				<td><%%= check_box_tag "delete[]", <%= singular_lower_case_name %>.id %></td>
				<td>
					<%% if <%= singular_lower_case_name %>.read? %>
					  <%%= link_to h(<%= singular_lower_case_name %>.subject), user_<%= singular_lower_case_name %>_path(@<%= singular_lower_case_parent %>, <%= singular_lower_case_name %>) %>
					<%% else %>
					  <%%= link_to "#{h(<%= singular_lower_case_name %>.subject)} (unread)", user_<%= singular_lower_case_name %>_path(@<%= singular_lower_case_parent %>, <%= singular_lower_case_name %>) %>
					<%% end %>
				</td>
				<td><%%= link_to h(<%= singular_lower_case_name %>.sender.login), user_path(@<%= singular_lower_case_parent %>) %></td>
		    <td><%%=h <%= singular_lower_case_name %>.created_at.to_s(:long) %></td>
			</tr>
		<%% end %>
		<tr>
			<td colspan="4">
				<%%= submit_tag "Delete" %>
			</td>
		</tr>
	<%% end %>
</table>
<%%= link_to "Sent", user_<%= plural_lower_case_name %>_path(@<%= singular_lower_case_parent %>, :mailbox => :sent)%> |
<%%= link_to "Compose", new_user_<%= singular_lower_case_name %>_path(@<%= singular_lower_case_parent %>)%>