- user = friendship.friend

.yui-gf.row
  .yui-u.first.centered= image_tag( user.avatar_photo_url(:thumb), :class => "polaroid" )
  .yui-g
    .yui-u.first
      %h2= link_to user.login, user_path(user)
      - if user.metro_area      
        = "#{:from.l} #{user.location}"
        %br 
      %p= friendship.friendship_status.name.l
      %p
        =:requested.l
        = time_ago_in_words friendship.created_at

    .yui-u= friendship_control_links(friendship) if @is_current_user
