%li.span3
  - user = friendship.friend
  
  = image_tag( user.avatar_photo_url(:medium))
   
  %h3= link_to user.login, user_path(user)
  - if user.metro_area      
    %p= "#{:from.l} #{user.location}"
  %p= friendship.friendship_status.name.l
  %p
    =:requested.l
    = time_ago_in_words friendship.created_at
  
  = friendship_control_links(friendship) if @is_current_user
