- if @page.new_record?
  - url = admin_pages_path
- else
  - url = admin_page_path(@page)

= bootstrap_form_for @page, :url => url, :layout => :horizontal do |f|
  = f.text_field :title
  = f.text_area :body, :class => "rich_text_editor"
  = f.form_group :public do
    = f.check_box :page_public, :label => :make_page_public.l
    .help-block
      =:when_checked_this_page_will_be_visible_to_anyone.l
      =:when_unchecked_this_page_will_only_be_visible_to_people_who_are_logged_in_to.l
      =configatron.community_name
  = f.select :published_as, [[:published.l, 'live'], [:draft.l, 'draft']], :label => :save_page_as.l

  = f.form_group :submit_group do
    = f.primary :save.l
