.yui-b
  = render :partial => 'shared/admin_nav'
  -box :class => 'alt' do
    %h3=:tips.l
    %p=:page_tips.l

#yui-main
  .yui-b
    -box do 
      %h3 
        =:manage_pages.l
      %p=:pages_saved_with_draft_status_wont_appear_on_the_site_until_you_publish_them.l
      %p=link_to :new_page.l, new_admin_page_path

      %table{:border => 0, :width => '100%'}
        %thead
          %tr
            %th=:title.l
            %th=:public.l
            %th=:status.l
        %tbody
          - @pages.each do |page|
            %tr
              %td
                = link_to page.title, edit_admin_page_path(page)
                = link_to("(#{:preview.l})", preview_admin_page_path(page), :target => '_blank') unless page.is_live?
              %td
                -if page.page_public? 
                  = t(:yes_status)
                -else
                  = t(:no_status)
              %td= page.is_live? ? link_to(:published.l, pages_path(page)) : :draft.l
        
      =paginate @pages
