-@page_title=:manage_pages.l

= render :partial => 'shared/admin_nav'
-widget do
  %h3=:tips.l
  %p=:page_tips.l

%p=:pages_saved_with_draft_status_wont_appear_on_the_site_until_you_publish_them.l

%table.table.table-bordered.table-striped
  %tr
    %th=:title.l
    %th=:public.l
    %th=:status.l
    %th=:actions.l
  - @pages.each do |page|
    %tr
      %td
        = link_to page.title, edit_admin_page_path(page)
      %td
        -if page.is_public?
          = t(:yes)
        -else
          = t(:no)
      %td= page.is_live? ? link_to(:published.l, pages_path(page)) : :draft.l
      %td
        =link_to :show.l, pages_path(page), :class => 'btn'
        - unless page.is_live?
          = link_to :preview.l, preview_admin_page_path(page), :class => 'btn'
        =link_to :edit.l, edit_admin_page_path(page), :class => 'btn btn-warning'
        =link_to :delete.l, pages_path(page), :method => 'delete', data: { confirm: :are_you_sure.l }, :class => 'btn btn-danger'

=paginate @pages, :theme => 'bootstrap'
=link_to :new_page.l, new_admin_page_path, :class => 'btn btn-success'
