-box do
  %h3= :rsvp_for.l + ' ' + @event.name
  = error_messages_for :rsvp
  = form_for(:rsvp, :url => [@event, @rsvp], :html => {:class => "MainForm"} ) do |f|
    %label=:number_of_attendees.l
    = f.text_field :attendees_count
    %p
      = submit_tag :create.l
  = link_to :back.l, [@event]
