-if @album.new_record?
  - url = user_albums_path(@user)
  - object = @album
  - button1 = :create_and_add_photos.l
  - button2 = :create_album.l
-else
  - url = user_album_path(@user, @album)
  - object = [@user, @album]
  - button1 = :edit_and_add_photos.l
  - button2 = :edit_album.l

=bootstrap_form_for object, :url => url, :layout => :horizontal do |f|
  = f.text_field :title
  = f.text_area :description
  = hidden_field_tag :go_to

  .btn-group
    = f.primary button2, :onclick => "Form.getInputs(this.form, null, 'go_to')[0].value = 'only_create'"
    = f.primary button1
