-@page_title = :edit_album.l

-widget do 
  %h3 Tips
  %p=:album_tip.l :community_name => configatron.community_name

= link_to :back.l, user_photo_manager_index_path(current_user), :class => 'btn'
= link_to :show.l, user_album_path(current_user, @album), :class => 'btn'
= link_to :add_photos.l, new_user_album_photo_path(@album.user,@album), :class => 'btn btn-primary'
= link_to :delete.l, user_album_path(current_user, @album), :method => 'delete', 'confirm' =>  :are_you_sure.l, :class => 'btn btn-danger'

%h3= "Album Details"
= render 'form'
  
