.yui-b
  -box do 
    %h3= :what_are_tags.l
    %p
      %strong= :tags_are_one_word_descriptors_users_assign_to_blog_posts_pictures_and_clippings_on.l+" #{configatron.community_name}."
    %p
      %strong= :bigger_font_size_more_popular_tag.l
      
  -box :class => "alt" do 
    %h3= :search.l
    %form.MainForm{"action"=>"/search/tags/", "method"=>"get"}
      %label= :tag_name.l+":"
      = text_field_tag 'id', params[:id], :autocomplete => "off"
      #id_auto_complete.auto_complete{"class"=>"auto_complete", "id"=>"id_auto_complete"}
      -content_for :end_javascript do
        = auto_complete_field 'id', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','] }
        
      %p
        %input{"type"=>"submit", "value"=>:go.l}


#yui-main
  .yui-b
    -box do
      %h3= :browse_content_by_tags.l
      -tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class|
        =link_to tag.name, tag_url(tag.to_param), :class => css_class
