.yui-b
  .box
    %h3= :what_are_tags.l
    %p
      %strong= :tags_are_one_word_descriptors_users_assign_to_blog_posts_pictures_and_clippings_on.l+" #{AppConfig.community_name}."
    %p
      %strong= :bigger_font_size_more_popular_tag.l
    %p
      =:for_more_information_on_tags_check_out_the.l
      = link_to :faq.l, faq_url
      =:page.l
      
  .box.alt
    %h3= :search.l
    %form.MainForm{"action"=>"/search/tags/", "method"=>"get"}
      %label= :tag_name.l+":"
      = text_field_tag 'id', params[:id], :autocomplete => "off"
      #id_auto_complete.auto_complete{"class"=>"auto_complete", "id"=>"id_auto_complete"}
      = auto_complete_field 'id', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [',', ' ']  }
      %p
        %input{"type"=>"submit", "value"=>:go.l}


#yui-main
  .yui-b.box
    %h3= :browse_content_by_tags.l
    - tag_cloud @tags, %w(nube1 nube2 nube3 nube4 nube5) do |name, css_class|
      = link_to name, tag_url(URI::encode(name, /[\/.?#]/)), :class => css_class
