-@page_title=:tags.l
= render :partial => 'shared/admin_nav'
  
-box do
  %h3=:search.l
  = bootstrap_form_for @search, :url => admin_tags_path, :html => {:class => "form form-horizontal"} do |f|
    = f.text_field :name_starts_with, :label => :name.l
    .controls
      = f.submit :search.l

%table.table.table-bordered.table-striped
  %tr 
    %th
      =sort_link @search, :name, :name.l            
    %th 
      =sort_link @search, :taggings_count, :taggings.l
    %th=:actions.l

  - for tag in @tags
    %tr
      %td= tag.name
      %td= tag.taggings.count	
      %td
        = link_to :show.l, tag_path(tag), :class => 'btn'
        = link_to :edit.l, edit_tag_path(tag), :class => 'btn btn-warning'
        = link_to :destroy.l, tag_path(tag), :confirm => :are_you_sure.l, :method => :delete, :class => 'btn btn-danger'
            
=paginate @tags, :theme => 'bootstrap'

