.yui-b.sidebar
  .yui-u
    -box :class => "alt first_alt" do 
      %h3
        - if params[:type]
          = (params[:type].downcase.pluralize + '_tagged').l
        - else
          = :items_tagged.l
        - @tags.each do |tag|
          = link_to h(tag.name), tag_path(tag)
       
    -if @related_tags.to_a.size > 0
      -box do 
        %h3.tags=:related_tags.l
        -tag_cloud @related_tags, %w(css1 css2 css3 css4) do |tag, css_class|
          =link_to h(tag.name), tag_path(tag), :class => css_class
      
        %h6.all= link_to :all_tags.l, tags_path
      
    = Ad.display(:new_sidebar_3, logged_in?) #REDESIGN-FIX      

#yui-main
  .yui-b
    - if @posts.any?
      -unless params[:type]
        #posts        
          %h3=:posts.l
          %ul.list.page
            - @posts.each do |post|
              %li
                = link_to( truncate(post.display_title, :length => 75), user_post_path(post.user, post), :title => :by.l(:login => post.user.login) )
                %p.post_excerpt= truncate_words(post.post, 35, '...' )
          %h6.all= link_to :all_posts_tagged.l(:tag_name => @tags_raw), show_tag_type_path(:id => @tags_raw, :type => 'Post') unless params[:type]
      -else 
        -box :class => 'first_alt hfeed' do
          = render :partial => 'posts/post', :collection => @posts      
          - if @pages
            = paginate @pages
          

    - if @photos.any?
      %br.clear
      %h3=:photos.l(:count => @photos.size)
      - @photos.each do |photo|
        = link_to image_tag(photo.photo.url(:thumb), :title => "#{photo.description} ("+:uploaded_by.l+" #{photo.user.login})", :class => "polaroid"), user_photo_path(photo.user, photo)
      %h6.all= link_to :all_photos_tagged.l(:tag_name => @tags_raw), show_tag_type_path(:id => @tags_raw, :type => 'Photo') unless params[:type]
      
    - if @users.any?
      .user
        %h3= t('tags.show.users')
        - @users.each do |user|
          = link_to image_tag(user.avatar_photo_url(:thumb), :class => "polaroid"), user_path(user), :title => user.login
        %h6.all= link_to :all_users_tagged.l(:tag_name => @tags_raw), show_tag_type_path(:id => @tags_raw, :type => 'User') unless params[:type]


    - unless @clippings.empty?
      .blog
        %h3= :clippings.l
        - @clippings.each do |clipping|
          %a{"href"=>"#{h user_clipping_url(clipping.user, clipping) }"}
            %img.polaroid.clipping{"src"=>"#{h clipping.image_uri}", "style"=>"width:108px"}
        %h6.all= link_to :all_clippings_tagged.l(:tag_name => @tags_raw), show_tag_type_path(:id => @tags_raw, :type => 'Clipping') unless params[:type]

    - if @pages && !params[:type].eql?('Post')
      = paginate @pages
