<div id="edit" class="editbox">
<div class="container">
  <%= remote_form_for :post, @post, :url => sb_post_path(:forum_id => @post.forum_id, :topic_id => @post.topic_id, :id => @post), :html => { :method => :put, :class => "MainForm" }, :before => "$('editbox_spinner').show();tinyMCE.triggerSave();" do |f| -%>

  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td rowspan="2" width="70%">
        <%= f.text_area :body, :rows => 10, :id => "edit_post_body", :class => "rich_text_editor" %>
      </td>
      <td style="vertical-align:top;">

        <p>
        	<%= ajax_spinner_for "editbox", "spinner_black.gif" %>	
					<%= submit_tag :save_changes.l %> <%= :or.l %>  <%= link_to_function(:cancel.l, "EditForm.cancel()") %>
	
	        <%= link_to(:delete_this_post.l, sb_post_path(:forum_id => @post.topic.forum, :topic_id => @post.topic, :id => @post, :page => params[:page]), :class => "utility", :method => :delete, :confirm => :are_you_sure_you_want_to_delete_this_post.l) %>  
	
				</p>

      </td>
    </tr>
    <tr>
      <td valign="bottom" style="vertical-align:bottom;padding-bottom:15px;">

      </td>
    </tr>
  </table>
  <% end -%>
</div>
</div>
<%= tiny_mce_init_if_needed %>
