= bootstrap_form_for @post, :url => sb_posts_path(:forum_id => @forum, :topic_id => @topic, :page => @topic.last_page), :html => {:class => "form form-horizontal submit-via-ajax", :id => "reply"} do |f|
  %table{"cellspacing"=>"0", "border"=>"0", "cellpadding"=>"0", "width"=>"100%"}
    %tr{"style"=>"vertical-align:top;"}
      %td
        = f.text_area :body, :rows => 10, :style => "width: 99%;", :class => "rich_text_editor", :required => false
      - if !logged_in? && configatron.recaptcha_pub_key && configatron.recaptcha_priv_key
        %td
          .control-group
            %label.control-label{"for"=>"comment[author_name]"}
              =:name.l
            .controls= f.text_field :author_name

          .control-group
            %label.required.control-label{"for"=>"comment[author_email]"}
              =:email.l
            .controls= f.text_field :author_email

          .control-group
            %label.control-label{"for"=>"comment[author_url]"}
              =:comment_web_site_label.l
            .controls= f.text_field :author_url, :size => 35
        %td
          = recaptcha_tags :ajax => true
          %p
            = ajax_spinner_for "reply"
            = f.submit :save_reply.l
            = :or.l
            = link_to_function :cancel.l, :class => 'reply-toggle'
      -else
        %td
          %p
            = ajax_spinner_for "reply"
            = f.submit :save_reply.l
            = :or.l
            = link_to :cancel.l, '#', :class => 'reply-toggle'

