= bootstrap_form_for @post, :url => sb_posts_path(:forum_id => @forum, :topic_id => @topic, :page => @topic.last_page), :layout => :horizontal, :html => {:class => "submit-via-ajax", :id => "reply"} do |f|
  = f.text_area :body, :rows => 10, :style => "width: 99%;", :class => "rich_text_editor", :required => false

  - if !logged_in? && configatron.recaptcha_pub_key && configatron.recaptcha_priv_key
    = f.text_field :author_name
    = f.text_field :author_email, :required => true
    = f.text_field :author_url, :label => :comment_web_site_label.l

    = f.form_group do
      = recaptcha_tags :ajax => true

  = f.form_group do
    = ajax_spinner_for "reply"
    = f.primary :save_reply.l
    = :or.l
    = link_to :cancel.l, '#', :class => 'reply-toggle btn btn-default'
