<h1><%= _('Edit Post') %></h1>

<h2><%= link_to h(@post.topic.title), forum_topic_path(@post.forum_id, @post.topic) %></h2>

<%= link_to(_('Delete post'), sb_post_path(:forum_id => @post.forum_id, :topic_id => @post.topic, :id => @post, :page => params[:page]), 
      :class => "utility", :method => :delete, :confirm => _('Delete this post forever?')) %>

<%= error_messages_for :topic %>
<% form_for :post, :html => { :method => :put }, 
     :url  => sb_post_path(:forum_id => params[:forum_id], :id => params[:topic_id], :id => @post, :page => params[:page]) do |f| -%>
<%= f.text_area :body %>
<%= submit_tag _('Save') %> or <%= link_to _('cancel'), forum_topic_path(:forum_id => params[:forum_id], :id => params[:topic_id], :page => params[:page]) %>
<% end -%>