<% @page_title = "Posts that #{h @user.display_name} is monitoring" -%>

<h4><%= link_to @user.display_name, user_path(@user) %>'<%= 's '+:monitored_topics.l %></h4>
<ul class="flat">
<% @user.monitored_topics.find(:all, :limit => 25).each do |topic| %>
  <li><%= link_to topic.title, forum_topic_path(topic.forum_id, topic) %></li>
<% end %>
</ul>

<h1><%= @page_title %></h1>
<p class="subtitle">
  <%= feed_icon_tag @page_title, monitored_all_sb_posts_path(:user_id => @user, :format => 'rss') %>
  <%= :post_found.l(:count => @posts.size) %>
</p>

<% if @posts.total_count > 1 -%>
<div class="pagination"><%= "#{:pages.l}:" %> <strong><%= paginating_links @posts %></strong></div>
<% end -%>

<table border="0" cellspacing="0" cellpadding="0" class="posts wide">
<% for post in @posts do %>
<% unless post == @posts.to_a.first %>
<tr class="spacer">
  <td colspan="2">&nbsp;</td>
</tr>
<% end %>
<tr class="post hentry" id="<%= post.dom_id %>">
  <td class="author vcard">
    <div class="date">
      <abbr class="updated" title="<%= post.created_at.xmlschema %>">
      <% if post.created_at > Time.now.utc-24.hours%>
      <%= time_ago_in_words(post.created_at).sub(/about /, '') %> ago
      <% else %>
      <%= post.created_at.strftime("%b %e, %Y")%>
      <% end %>
      </abbr>
    </div>

    <%= avatar_for post.user %>
    <span class="fn"><%= link_to truncate(h(post.user.display_name), :length => 15), user_path(post.user), :class => (post.user == @posts.to_a.first.user ? "admin" : nil) %></span>
    <span class="posts"><%= pluralize post.user.sb_posts_count, 'post' %></span>
  </td>
  <td class="body entry-content">
    <p class="topic"><%= :topic.l %> <%= link_to h(post.topic_title), forum_topic_path(post.forum_id, post.topic_id) %></p>
    
    <%= post.body_html %>
  </td>
</tr>

<% end %>
</table>

<% if @posts.total_count > 1 -%>
<div class="pagination"><%= :pages.l %> <strong><%= paginating_links @posts %></strong></div>
<% end -%>
