- unless photos.empty?
  %ul.curblyadvimage_list
    - photos.each do |p|
      %li{:id => p.id, :class => @selected.eql?(p.id.to_s) ? 'selected' : ''}
        .thumbs
          = :insert.l + ":"
          %br
          %a{:href=>p.photo.url(:thumb), :alt => p.display_name}
            = :thumb.l
          %a{:href=>p.photo.url(:medium), :alt => p.display_name}
            = :medium.l
          %a{:href=>p.photo.url(:large), :alt => p.display_name}
            = :large.l
          %br
          %a{:href=>'#', :onclick=>"$(this).up('li').removeClassName('selected');return false;", :style => 'float:right; font-size: 10px;'}
            = :cancel.l
        %a{:href=>'#', :onclick=>"select_image(this);return false;"}
          = image_tag( p.photo.url(:thumb), :alt => p.display_name )
          
  :javascript
    $$('.thumbs a').invoke("observe", 'click', select_thumb)
- else
  = :no_images_uploaded_yet.l
