-@page_title= :editing_photo.l  
    
-widget do 
  %h3= :help.l
  %p
    = :tags_are_keywords_you_use_to_organize_your_photos.l
    
%p    
  = link_to :back.l, user_photos_path(@user), :class => 'btn'
  = link_to :show.l, user_photo_path(@user, @photo), :class => 'btn'
  = link_to :delete.l, user_photo_path(@user, @photo), :method => :delete, :confirm => :are_you_sure_you_want_to_delete_this_photo.l, :class => 'btn btn-danger'

=render 'form'
