.yui-b
  = render :partial => 'posts/author_profile', :locals => {:user => @user}

  -box :class => 'yui-u first' do
    %h3=:tags.l
    %ul.tags        
      - @tags.each do |tag|
        %li
          - if (tag.name.eql?(params[:tag_name]) )
            = link_to tag.name, user_photos_path(@user), :class => "selected"
          - else
            = link_to tag.name, user_photos_path(:user_id => @user, :tag_name => tag.name)    
  

#yui-main
  .yui-b
  
    -box :id => "photos" do
      %h3= link_to :users_photos.l(:user=>@user.login), user_photos_path(@user)
      = link_to( :new_photo.l, new_user_photo_path(@user), {:class => 'right'})  if @is_current_user

      .clear
      - @photos.each do |photo|
        = link_to tag('img', :src => photo.photo.url(:thumb), :class => "polaroid"), user_photo_path(@user, photo)
        
      .pagination=paginating_links @photos if @photos.total_count > 1

      
