.yui-b
  .box
    %h3 Tips
    %p 
      =:photo_tip_1.l
    %p 
      =:photo_tip_2.l

  .box.alt= link_to "&raquo; " + "Back to my photos".l, user_photos_path(@user)

#yui-main
  #single_upload.yui-b.box
    %h3 
      ="New photo".l

    = error_messages_for :photo
    %a.right{"href"=>"#", "onclick"=>"$('single_upload').toggle(); $('multiple_upload').toggle(); return false"}
      ="Want to upload multiple files at once?".l

    - form_for(:photo, :url => user_photos_path, :html => {:multipart =>true, :class => "MainForm"} ) do |f|
      = f.file_field :uploaded_data
      %label
        %em
          = (AppConfig.photo['attachment_fu_options']['max_size']) + " " + "megabyte upload limit".l
      %label 
        ="Tags".l + ":"
      = text_field_tag 'tag_list', @photo.tag_list, {:autocomplete => "off", :size => 35}

      #tag_list_auto_complete.auto_complete
      = auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [',', ' ']  }

      %label 
        =:name.l + ":"
      = f.text_field :name, :size => 35

      %label
        =:description.l + ":"
      = f.text_area :description, :size => "58x5"

      %p
        = submit_tag :create.l
        = :or.l
        = link_to :cancel_and_go_back_to_my_photos.l, user_photos_path(@user)

  #multiple_upload.yui-b.box{"style"=>"display:none;"}
    %h3 
      =:new_photos_raquo_multiple_uploader.l

    %a.right{"href"=>"#", "onclick"=>"$('single_upload').toggle(); $('multiple_upload').toggle(); return false"}
      =:just_uploading_one_photo.l
    
    - session_key = (ActionController::Base.session.first[:session_key] || '_session_id').to_sym
    %p.centered
      %script{:type=>'text/javascript'}
        var uploader;
        window.onload = function (){
        ="uploader = new CommunityEngine.SwfUpload('#{swfupload_user_photos_path(:user_id => current_user.id, session_key => session.session_id)}');"
        };
        
      %div{:style=>"margin: 0px 10px;"}
        %div
          %form.MainForm
            %p
              %button{:id=>"btnBrowse", :type=>"button", :style=>"padding: 5px;", :onclick=>"uploader.swfu.selectFiles(); this.blur();"}
                =image_tag '/icons/add.png', :plugin => 'community_engine'
                =:select_images_to_upload.l
            %label
              %em
                =:you_can_select_up_to_5_files_at_a_time.l
                %br
                = (AppConfig.photo['attachment_fu_options']['max_size'])
                = "megabyte upload limit per file.".l
        #divFileProgressContainer{:style=>"height: 75px;"}
        #thumbnails