.yui-b
  -box do 
    %h3
      =:tips.l
    %p 
      =:photo_tip_1.l
    %p 
      =:photo_tip_2.l

  -box :class => 'alt' do
    = link_to "&raquo; ".html_safe + :back_to_my_photos.l, user_photos_path(@user)

#yui-main
  .yui-b
    -box :id => "single_upload" do
      %h3 
        =:new_photo.l

      = error_messages_for :photo

      = form_for(:photo, :url => user_photos_path(:user_id => current_user.id, :album_id => params[:album_id]), :html => {:multipart =>true, :class => "MainForm"} ) do |f|
      
        = f.file_field :photo
        
        %label
          %em= " " + :megabyte_upload_limit.l(:count => configatron.photo.validation_options.max_size)

        %label=:title.l + ":"
        = f.text_field :name, :size => 35

        %label 
          = :tags.l
          %em="(#{:optional_keywords_describing_this_photo_separated_by_commas.l})"
        = text_field_tag 'tag_list', @photo.tag_list, {:autocomplete => "off", :size => 35}

        #tag_list_auto_complete.auto_complete
        -content_for :end_javascript do        
          = auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','] }

        %label=:description.l + ":"
        = f.text_area :description, :size => "58x5"

        - unless params[:album_id] || current_user.albums.empty?
          %label=:assign_album.l + ":"
          = select_tag 'album_selected', options_for_select([''] +current_user.albums.collect{ |album| [album.title, album.id] })


        %p
          = submit_tag :create.l
          = :or.l
          = link_to :cancel_and_go_back_to_photo_manager.l, user_photo_manager_index_path(current_user)

