.profile
  .yui-b
    = render :partial => 'posts/author_profile', :locals => {:user => @user}

    - if @previous || @next
      .photo_nav.box.alt
        = link_to "<img src='#{@previous.public_filename(:thumb)}' /><br />&laquo; Prev ", user_photo_path(@user, @previous), :class => 'left' if @previous
        = link_to "<img src='#{@next.public_filename(:thumb)}' /><br />Next &raquo;", user_photo_path(@user, @next), :class => 'right' if @next

    - if @related.any?
      .box.alt
        %h3 Related Photos (all members)
        .centered
          - @related.each do |photo|
            = link_to image_tag( photo.public_filename(:thumb), :class => "polaroid"), user_photo_path(photo.user, photo), {:title => "#{h(photo.description)} from #{photo.user.login}"}

  #yui-main
    .yui-b
      .box.hfeed
        %h3
          = link_to "#{@user.login}'s photos", user_photos_path(@user)
          \:
          = link_to h(@photo.display_name), user_photo_path(@user, @photo)
        - if @is_current_user
          .box.alt
            = link_to "Make this my profile photo", change_profile_photo_user_path({:id => @user, :photo_id => @photo}), :method => :put
            |
            = link_to "Edit this photo's details", edit_user_photo_path(@user, @photo) if @is_current_user
            |
            = link_to("Delete this photo", user_photo_path(@user, @photo), :method => :delete) + "<br class='clear' />"

        %p.centered= image_tag( @photo.public_filename, :class => "polaroid" )
        %p= h @photo.description
        %p= @photo.tags.collect{|t| link_to( h(t.name), tag_url(t.name), :class => 'tag') }.join(" ")

      #comments.box.hfeed.comments
        %h3 Photo Comments
        %h2 Add Your Comment!
        %p= render :partial => 'comments/comment_form', :locals => {:commentable => @photo}
        %a#newest_comment
        = render :partial => 'comments/comment', :collection => @photo.comments
        %span#more_comments_links= more_comments_links(@photo)

