-box :class => 'alt first_alt' do
  %h3=:author.l
  %dl.vcard
    %dt.photo
      = link_to tag(:img, :src => user.avatar_photo_url(:thumb), "height"=>"50", "alt"=>"#{user.login}", "width"=>"50" ), user_path(user), :title => "#{user.login}'s"+ :profile.l
    %dd.fn
      = link_to user.login, user_path(user), :class => 'url'
      -if user.featured_writer?      
        %small=:featured_writer.l
    %dd
    - if user.description
      = truncate_words( user.description, 12, '...')
    %dd.member
      =:member_since.l+" #{I18n.l(user.created_at, :format => :short_published_date)}"
    %dd.post
      - if user.posts.count == 1
        = link_to :singular_posts.l(:count => user.posts.count), user_posts_path(user)
      - else
        = link_to :plural_posts.l(:count => user.posts.count), user_posts_path(user)
    %dd.rss
      =link_to :rss_feed.l, user_posts_path(user, :format => :rss)
