-widget do
  %ul.nav.nav-list
    %li.nav-header=:author.l
    %li
      = link_to tag(:img, :src => user.avatar_photo_url(:medium), "alt"=>"#{user.login}"), user_path(user), :title => "#{user.login}'s"+ :profile.l
    %li
      = link_to user.login, user_path(user), :class => 'url'
      -if user.featured_writer?      
        %small=:featured_writer.l
    %li
    - if user.description
      = truncate_words( user.description, 12, '...')
    %li
      =:member_since.l+" #{I18n.l(user.created_at, :format => :short_published_date)}"
    %li
      - if user.posts.count == 1
        = link_to :singular_posts.l(:count => user.posts.count), user_posts_path(user)
      - else
        = link_to :plural_posts.l(:count => user.posts.count), user_posts_path(user)
    %li
      =icon_link_to 'icon-rss', :rss_feed.l, user_posts_path(user, :format => :rss)
