-if @post.new_record?
  -object = @post
  -url = user_posts_path(@user)
  -content_for :end_javascript do
    = observe_field  "post_category_id", {:url => {:controller => 'categories', :action => 'show_tips'}, :with => "id", :update => "category_tips", :complete => visual_effect(:highlight, "category_tips", :duration => 0.5)}
-else
  -object = [@user, @post]
  -url = user_post_path(@user, @post)
  -content_for :end_javascript do
    = observe_field  "post_category_id", {:url => {:action => 'category_tips_update'}, :method => :get, :with => "post_category_id", :update => "category_tips", :complete => visual_effect(:highlight, "category_tips", :duration => 0.5)}


= bootstrap_form_for(object, :url => url, :html => {:class =>'form form-horizontal' }) do |f|
  = f.text_field :title
  = f.collection_select(:category_id, Category.find(:all), :id, :name, {}, {})
  = f.text_area :raw_post, :rows => 15, :class => "rich_text_editor"
  = f.text_field :tag_list, :autocomplete => "off", :label => :tags.l, :help_inline => :optional_keywords_describing_this_post_separated_by_commas.l
  #tag_list_auto_complete.auto_complete
  -content_for :end_javascript do
    = auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','] }
   
  = f.select :published_as, [[:published.l, 'live'], [:draft.l, 'draft']], :label => :save_post_as.l
  = f.check_box :send_comment_notifications     

  .controls
    = f.submit :save.l
    
