= form_tag send_to_friend_user_post_path(:user_id => params[:user_id], :id => params[:id]), :class => 'form form-horizontal submit-via-ajax', :id => 'send_to_friend_form'
.modal-header
  %button.close{'data-dismiss' => 'modal', 'aria-hidden' => true}
    &times;
  %h3= :send_this_story_to_friends.l
.modal-body
  .form-group
    %label.control-label= :enter_a_message.l
    = text_area_tag :message, :this_story_is_awesome.l
  .form-group
    %label.control-label=:enter_e_mail_addresses_comma_sep.l
    .pull-right
      %a{:href => '#', :onclick => "showPlaxoABChooser('emails', '/base/plaxo'); return false;"}
        = image_tag "http://www.plaxo.com/images/abc/buttons/add_button.gif", :alt => :add_from_my_address_book.l
    = text_area_tag :emails
  = ajax_spinner_for 'send_to_friend_form'
  = submit_tag :send.l, :class => 'btn btn-primary'
</form>