<div id="send_to_friend" style="display:none;">
	<%= form_tag :id => "send_to_friend_form", :remote => true do -%>
	  <div class="errors"></div>	
	  <h3><%= :send_this_story_to_friends.l %> </h3>
	  <p>
		<%= :enter_a_message.l+':' %> <br />
		<input type="text" name="message" value="<%= :this_story_is_awesome.l %>" style="width:100%"/>
	  </p>
	  <p>
		<%= :enter_e_mail_addresses_comma_sep.l+':' %> <br />
    <a href="#" id="addButton">
      <img src="http://www.plaxo.com/images/abc/buttons/add_button.gif" alt=<%= :add_from_my_address_book.l %> />
    </a>
		<br />
		<input type="text" name="emails" style="width:100%" id="emails"/>
	  </p>
	  <p>
	    <%= submit_tag :send.l %>
		<%= image_tag 'spinner.gif', :plugin => "community_engine", :style => 'display:none;', :id => 'send_to_friend_spinner'	%>
	  </p>
	<% end -%>
</div>
<script type="text/javascript">
    $('addButton').observe('click', function () {
        showPlaxoABChooser('emails', '/base/plaxo');
        return false;
    });
    $('send_to_friend_form').observe('ajax:loading', function () {
        $('send_to_frend_spinner').show();
    });
    $('send_to_friend_form').observe('ajax:success', function () {
        alert('<%= :messages_sent.l %>');
        Element.toggle('send_to_friend');
        Lightbox.hideAll();
        return false;
    });
    $('send_to_friend_form').observe('ajax:failure', function () {
        $$('div#send_to_friend div.errors')[0].innerHTML = '<%= escape_javascript(request.responseText) %>';
        return false;
    });
    $('send_to_friend_form').observe('ajax:complete', function () {
        $('send_to_frend_spinner').hide();
    });
</script>
