.yui-b.sidebar
  .box
    %h3 Links
    %ul.checks
      %li=link_to 'View my blog', user_posts_path(current_user)
      %li=link_to 'New post', new_user_post_path(current_user)    

#yui-main
  .yui-b
    .box
      %h3 
        Manage Posts
      %p Posts saved with 'draft' status won't appear in your blog until you publish them.
      

      -if @posts.page_count > 1
        .pagination= paginating_links @posts, :link_to_current_page => true

      %table{:border => 0, :width => '100%'}
        %thead
          %tr
            %th Date Created
            %th Date Published            
            %th Title
            %th Category
            %th Tags
            %th Comments
            %th Status
        %tbody
          - @posts.each do |post|
            %tr            
              %td
                %abbr{:title=>"#{post.created_at}"}= post.created_at.strftime("%Y/%m/%d")
              %td
                %abbr{:title=>"#{post.published_at}"}= post.published_at_display
              %td= link_to post.title, edit_user_post_path(post.user, post)
              %td= post.category.name
              %td= post.tags.any? ? post.tag_list : 'No tags'
              %td= post.comments.count
              %td= post.is_live? ? link_to('published', user_post_path(post.user, post)) : 'draft'