- @meta = { :description => "Popular posts on #{AppConfig.community_name}",:keywords => "#{AppConfig.meta_keywords}"}
- @section = 'popular'

.yui-b
  .box
    - if logged_in?
      %h3.signup= "Get popular.".l
      %ul.list.checks
        %li=link_to "Write a blog post!".l, new_user_post_path({:user_id => current_user})
    - else
      %h3.signup= "Want to be popular?"
      %ul.list.checks
        %li
          %a{:href=>"/signup", :title=>"Sign up for a #{AppConfig.community_name} account"}="Sign up for an account.".l
          %br
            %small
              Have an account? 
              %a{:href=>"/login", :title=>"Log in to your #{AppConfig.community_name} account"}
                &raquo;
                ="Log in".l

  .box.alt
    %h3= "This month's Best"
    %ul.list.page    
      - @monthly_popular_posts.each do |post|
        =render :partial => 'posts/sidebar_post', :locals => {:post => post}

#yui-main
  .yui-b
    .box.hfeed
      %h3 
        ="What's Popular".l :what_is_popular
        %ul.subnav
          %li= :looking_for_most_x.l :link => link_to("recent".l, recent_path)
      = render :partial => 'posts/post', :collection => @posts