- @page_title = @post.title

=render :partial => 'author_profile', :locals => {:user => @user}


%h2= :users_blog.l :user=>  @user.login
.clearfix
  .col-sm-3.pull-right
    .list-group
      %a{:href => "#{user_post_path(@user, @post)}", :rel => "bookmark", :class => "list-group-item"}
        =fa_icon "calendar"
        %abbr.published{:title => "#{@post.published_at}"}= @post.published_at_display(:literal_date)
      -if @is_current_user || admin? || moderator?
        %a{:href => "#{edit_user_post_path(@post.user, @post)}", :class => "list-group-item"}
          =fa_icon "pencil-square-o", :text => :edit.l
        = link_to fa_icon("trash-o", :text => :delete.l), user_post_path(@post.user, @post), {:method => :delete, data: { confirm: :permanently_delete_this_post.l }, :class => "list-group-item"}

  = @post.post
= render :partial => 'polls/poll_ui', :locals => {:poll => @post.polls.first} unless @post.polls.empty?
- unless @post.tags.empty?
  .clearfix
    %ul.list-unstyled
      - @post.tags.each do |t|
        %li
          %a.label.label-info{:href => tag_url(t), :rel => 'tag'}
            =fa_icon "tag inverse", :text => t.name


