- @section = 'posts'
.yui-b
  -box do 
    - if logged_in?
      %h3= :get_popular.l
      %ul.list.checks
        %li=link_to :write_a_blog_post.l, new_user_post_path({:user_id => current_user})
    - else
      %h3= :want_to_be_popular.l
      %ul.list.checks
        %li
          %a{:href=>signup_url, :title=>:sign_up_for_a_.l+" #{configatron.community_name} "+:account.l}=:sign_up_for_an_account.l
          %br
            %small
              =:have_an_account.l
              %a{:href=>login_url, :title=>:log_in_to_your.l+" #{configatron.community_name} "+:account.l}
                &raquo;
                =:log_in.l
#yui-main
  .yui-b
    -box :class => "hfeed" do 
      %h3
        =:recent_posts.l
        %ul.subnav
          %li= :looking_for_most_x.l :link => link_to("#{:most_popular.l}?", popular_path)

      = render :partial => 'posts/post', :collection => @posts      
      
      .pagination=paginating_links @posts
