%script{"type"=>"text/javascript", "src"=>"http://www.plaxo.com/css/m/js/util.js"}
%script{"type"=>"text/javascript", "src"=>"http://www.plaxo.com/css/m/js/basic.js"}
%script{"type"=>"text/javascript", "src"=>"http://www.plaxo.com/css/m/js/abc_launcher.js"}

- @section = (@post.category && @post.category.name)
- @meta = { :title => "#{@post.title}", :description => "#{truncate_words(@post.post, 75, '...' )}", :keywords => "#{@post.tags.join(", ") unless @post.tags.nil?}", :robots => configatron.robots_meta_show_content }

#yui-main
  .yui-b
    -box :class => 'hfeed' do  
      %h3=:users_blog.l :user=>  @user.login
      .hentry.main
        %h4.entry-title= link_to @post.title, user_post_path(@user, @post), :rel => 'bookmark'
        .vcard.author
          %ul
            %li.update
              %a{"href"=>"#{user_post_path(@user, @post)}", "rel"=>"bookmark"}
                %abbr.published{"title"=>"#{@post.published_at}"}= @post.published_at_display(:literal_date)
            %li.view= "#{:view_count.l} (#{@post.view_count})"
            %li.comments= link_to "#{:comments.l} (#{@post.comments.count})", user_post_path(@user, @post), :anchor => 'comments'                  
            - if current_user and current_user.can_request_friendship_with(@post.user)
              %li.addfriend= add_friend_link(@post.user)
            %li.print
              %a{"href"=>"#", :onclick=>"window.print(); return false;", :title=>:print_this_story.l}= :print.l
            %li.email
              %a{:href=>"#", :title=>:email_this_story_to_friends.l}= :email_to_friends.l
            %li.share
              %script{:type=>"text/javascript", :src=>"http://w.sharethis.com/widget/?tabs=web&amp;charset=utf-8&amp;style=default&amp;publisher=4488bdef-d776-4c80-93e1-ac1fb8359971&amp;linkfg=%23131358&amp;button=false"}
              =sharethis_options(@post)
            -if @is_current_user || admin? || moderator?
              %li.edit= link_to :edit.l, edit_user_post_path(@post.user, @post)
              %li.delete= link_to :delete.l, user_post_path(@post.user, @post), {:method => :delete, :confirm => :permanently_delete_this_post.l}

              
          -content_for :end_javascript do
            :javascript
              Event.observe( window, 'load', function() { 
                $$(".email").invoke('observe', 'click', showSendToFriend);
              });      

            
              function showSendToFriend(){
                if ($('send_to_friend')){
                  new Lightbox.base('send_to_friend');				                
                } else {
                  #{remote_function(:url => { :action => "send_to_friend", :params => {:user_id => @user.id, :id => @post.id} }, :success => "new Insertion.Top($('bd'), request.responseText)", :complete => "new Lightbox.base('send_to_friend'); return false;Element.toggle('send_to_friend');", :method => 'post')}
                }}
              
        / vcard
        .entry-content
          = @post.post.html_safe
          = render :partial => 'polls/poll_ui', :locals => {:poll => @post.polls.first} unless @post.polls.empty?
          - unless @post.tags.empty?
            %ul.tags
              - @post.tags.each do |t|
                %li=link_to( t.name, tag_url(t), :rel => 'tag')
        / entry-content
      / ends hentry
      
    -box :class => 'hfeed comments', :id => 'comments' do      
      %h3= :post_comments.l 
      %h2= :add_your_comment.l
      = render :partial => 'comments/comment_form', :locals => {:commentable => @post}
      %a#newest_comment
      = render :partial => 'comments/comment', :collection => @comments
      %span#more_comments_links= more_comments_links(@post)
    / ends box
  / yui-b
/ ends yui-main

.yui-b
  =render :partial => 'author_profile', :locals => {:user => @user}

  - unless @related.empty?
    -box :class => 'alt' do
      %h3=:related_posts.l
      %ul.list.page
        - @related.each do |post|
          %li=link_to truncate(post.title, :length => 75), user_post_path(post.user, post)      

  - unless @popular_posts.empty?
    -box :class => 'alt' do
      %h3=:popular_posts.l
      %ul.list.page
        - @popular_posts.each do |post|
          %li=link_to truncate(post.title, :length => 75), user_post_path(post.user, post)      
/ sidebar

-content_for :end_javascript do
  :javascript
    #{remote_function :url => update_views_user_post_path(@post.user, @post), :method => :put}
