%script{"type"=>"text/javascript", "src"=>"http://www.plaxo.com/css/m/js/util.js"}
%script{"type"=>"text/javascript", "src"=>"http://www.plaxo.com/css/m/js/basic.js"}
%script{"type"=>"text/javascript", "src"=>"http://www.plaxo.com/css/m/js/abc_launcher.js"}

- @section = (@post.category && @post.category.name)
- @meta = { :title => "#{@post.title}", :description => "#{truncate_words(@post.post, 75, '...' )}", :keywords => "#{@post.tags.join(", ") unless @post.tags.nil?}", :robots => configatron.robots_meta_show_content }

=render :partial => 'author_profile', :locals => {:user => @user}

- unless @related.empty?
  -widget do
    %ul.nav.nav-list
      %li.nav-header=:related_posts.l
      - @related.each do |post|
        %li=link_to truncate(post.title, :length => 75), user_post_path(post.user, post)

- unless @popular_posts.empty?
  -widget do
    %ul.nav.nav-list
      %li.nav-header=:popular_posts.l
      - @popular_posts.each do |post|
        %li=link_to truncate(post.title, :length => 75), user_post_path(post.user, post)

%h2=:users_blog.l :user=>  @user.login
.clearfix
  .pull-right.span3
    %ul.nav.nav-list
      %li
        %a{"href"=>"#{user_post_path(@user, @post)}", "rel"=>"bookmark"}
          %i.icon-calendar.pull-left
          %abbr.published{"title"=>"#{@post.published_at}"}= @post.published_at_display(:literal_date)
      %li
        %i.icon-eye-open
        = :view_count.l
        %span.badge= @post.view_count
      %li
        %a{:href=>user_post_path(@user, @post),:name=>'comments'}
          %i.icon-comment
          = :comments.l
          %span.badge.badge-info=@post.comments.count
      - if current_user and current_user.can_request_friendship_with(@post.user)
        %li
          = add_friend_link(@post.user)
      %li
        %a{"href"=>"#", :onclick=>"window.print(); return false;", :title=>:print_this_story.l}
          %i.icon-print
          = :print.l
      %li
        %a.email{:href=>"#", :title=>:email_this_story_to_friends.l}
          %i.icon-envelope
          = :email_to_friends.l
        #send_to_friend.modal.hide.fade{:style => 'padding-top: 60px;'}
      %li
        %script{:type=>"text/javascript", :src=>"http://w.sharethis.com/widget/?tabs=web&amp;charset=utf-8&amp;style=default&amp;publisher=4488bdef-d776-4c80-93e1-ac1fb8359971&amp;linkfg=%23131358&amp;button=false"}
        =sharethis_options(@post)
      -if @is_current_user || admin? || moderator?
        %li
          = icon_link_to 'icon-edit', :edit.l, edit_user_post_path(@post.user, @post)
        %li
          = link_to '<i class="icon-trash"></i>'.html_safe + :delete.l, user_post_path(@post.user, @post), {:method => :delete, data: { confirm: :permanently_delete_this_post.l }}
  = @post.post.html_safe
/ clearfix

= render :partial => 'polls/poll_ui', :locals => {:poll => @post.polls.first} unless @post.polls.empty?
- unless @post.tags.empty?
  .clearfix
    %ul.list-unstyled
      - @post.tags.each do |t|
        %li
          %a.label.label-info{:href => tag_url(t), :rel => 'tag'}
            %i.icon-tag.icon-white
            =t.name

%h2= :post_comments.l
%h3= :add_your_comment.l
= render :partial => 'comments/comment_form', :locals => {:commentable => @post}
%a#newest_comment
= render :partial => 'comments/comment', :collection => @comments
%span#more_comments_links= more_comments_links(@post)

-content_for :end_javascript do
  :javascript
    $('.email').live('click', function(e){
      e.preventDefault();
      $.post("#{send_to_friend_user_post_path(:user_id => @user.id, :id => @post.id)}", function(response){
        $('#send_to_friend').html(response);
      });
      $('#send_to_friend').modal();
    });
