= bootstrap_form_for(@category, :layout => :horizontal) do |f|
  = f.text_field :name
  = f.text_area :tips, :rows => 3
  %p.help-block='Encourages people to add to this category'
  = f.text_field :new_post_text
  %p.help-block='Text For New Post Link'
  = f.text_field :nav_text
  %p.help-block='Text for Nav Link'
  = f.primary :save.l