= bootstrap_form_for(@category, :layout => :horizontal) do |f|
  = f.text_field :name
  = f.text_area :tips, :rows => 3, :help_block => 'Encourages people to add to this category'
  = f.text_field :new_post_text, :help_block => 'Text For New Post Link'
  = f.text_field :nav_text, :help_block => 'Text for Nav Link'
  = f.submit :save.l