= bootstrap_form_for(@category, :html => {:class => "form form-horizontal" }) do |f|
  = f.text_field :name
  = f.text_area :tips, :rows => 3, :help_inline => 'Encourages people to add to this category'
  = f.text_field :new_post_text, :help_inline => 'Text For New Post Link'
  = f.text_field :nav_text, :help_inline => 'Text for Nav Link'
  .controls
    = f.submit :save.l