.yui-b
  = render :partial => 'shared/admin_nav'

#yui-main
  .yui-b
    .box
      %h3="Categories".l

      %table{:width=>"100%"}
        %tr 
          %th="Name".l
          %th 
            \# 
            ="Posts".l
          %th="Actions".l

        - for category in @categories
          %tr
            %td= category.name
            %td= category.posts.size	
            %td
              = link_to 'Show._, category_path(category)
              | 
              = link_to 'Edit._, edit_category_path(category)
              |
              = link_to 'Destroy._, category_path(category), :confirm => 'Are you sure?._, :method => :delete

      %br

      = link_to 'New category._, new_category_path