- @meta = { :description => "#{@category.name} posts.",:keywords => "#{@category.name}"}
- @section = @category.name

.yui-b
  .box
    - if logged_in?
      %h3.signup="Have something to contribute?".l
      %ul.list.checks
        %li= link_to @category.display_new_post_text() || :write_new_post.l(:category=>@category.name), new_user_post_path({:user_id => current_user, 'post[category_id]' => @category.id})
    - else
      %h3.signup= @category.display_new_post_text() || :write_new_post.l(:category=>@category.name)
      %ul.list.checks
        %li
          %a{:href=>"/signup", :title=>"Sign up for a #{AppConfig.community_name} account"}="Sign up for an account.".l
          %br
            %small
              ="Have an account? ".l
              %a{:href=>"/login", :title=>"Log in to your #{AppConfig.community_name} account"}="&raquo; " + "Login".l

  .box.alt
    %h3="Top Writers".l
    - @active_users.each do |user|
      = render :partial => "users/sidebar_user", :locals => {:user => user} 
      
  .box.alt
    %h3=:popular_catgory.l(:name => @category.name)
    %ul.list.page    
      - @popular_posts.each do |post|
        =render :partial => 'posts/sidebar_post', :locals => {:post => post}


#yui-main
  .yui-b
    .box.hfeed
      %h3      
        =:show_category.l :category => @category.name
        %ul.subnav
          %li= link_to "Recent".l, category_path(@category), {:class => (params[:popular] ? '' : 'active')}
          %li= link_to "Popular".l, category_path(:popular => 'DESC'), {:class => (params[:popular] ? 'active' : '')}  

      = render :partial => 'posts/post', :collection => @posts      
      - if @posts.page_count > 1
        .pagination= paginating_links @posts, :link_to_current_page => true