!!!
%html
  %head
    %link{:rel=>"shortcut icon", :href=>"#{home_url}favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    =csrf_meta_tag

    %title= page_title
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}

    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})

    = render :partial => "shared/scripts_and_styles"

  %body
    -unless configatron.auth_providers.facebook.key.blank?
      =render :partial => 'facebook/fb_require'

    #doc2{:class => "yui-t#{@sidebar_left ? 3 : 6}"}
      = render :partial => "shared/header"

      #bd
        = render :partial => "shared/messages"

        = yield


      #ft
        -if show_footer_content?
          .yui-gc#footer_content
            = image_tag 'spinner.gif', :plugin => 'community_engine'
            =:loading_recent_content.l


      #CommunityFooter
        %ul
          %li
            %a{:href=>home_url, :title=>"#{configatron.community_name} " + :home.l}= :home.l
          - if !logged_in?
            %li
              = link_to :log_in.l , login_path
          - else
            %li
              %a{:href=>logout_url, :title=>:log_out_of_your.l + " #{configatron.community_name} " + :account.l}
                =:log_out.l

          - Page.find(:all).each do |page|
            - if (logged_in? || page.page_public)
              %li= link_to page.title, pages_path(page)

          - if @rss_title && @rss_url
            %li#rss= link_to :rss.l, @rss_url, {:title => @rss_title}

        %p
          = :community_tagline.l

    = render :partial => "shared/end_javascript"
    = yield :end_javascript
