!!!
%html
  %head
    %link{:rel=>"shortcut icon", :href=>"#{home_url}favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    =csrf_meta_tag

    %title= page_title
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}

    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})

    = render :partial => "shared/scripts_and_styles"

  %body
    -unless configatron.auth_providers.facebook.key.blank?
      =render :partial => 'facebook/fb_require'

    .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container-fluid
        = render :partial => "shared/header"

    .container
      .row
        = render_jumbotron
      .row
        .col-sm-9
          %h1=container_title
          = render :partial => "shared/messages"
          = yield
        .col-sm-3.pull-right
          = render :partial => "shared/sidebar"


      -if show_footer_content?
        .row#footer-content
          = image_tag 'spinner.gif', :plugin => 'community_engine'
          =:loading_recent_content.l

      .row
        .col-sm-12
          = render :partial => 'shared/footer_links'

          %p= :community_tagline.l

    = render :partial => "shared/end_javascript"
    = yield :end_javascript
